﻿
@font-face {
    font-family: Lato;
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/lato/Lato-Light.ttf') format('truetype');
}


@font-face {
    font-family: Lato;
    font-weight: 300;
    font-style: italic;
    src: url('../fonts/lato/Lato-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: Lato;
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Lato;
    font-weight: 400;
    font-style: italic;
    src: url('../fonts/lato/Lato-Italic.ttf') format('truetype');
}

@font-face {
    font-family: Lato;
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/lato/Lato-Bold.ttf') format('truetype');
}

@font-face {
    font-family: Lato;
    font-weight: 700;
    font-style: italic;
    src: url('../fonts/lato/Lato-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: Lato;
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/lato/Lato-Black.ttf') format('truetype');
}

@font-face {
    font-family: Lato;
    font-weight: 900;
    font-style: italic;
    src: url('../fonts/lato/Lato-BlackItalic.ttf') format('truetype');
}

@font-face {
    font-family: Inconsolata;
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Inconsolata-Regular.ttf') format('truetype');
}


@font-face {
    font-family: Inconsolata;
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/Inconsolata-Bold.ttf') format('truetype');
}


/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 110px;
    min-width: 1005px;
}

body, html {
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #777;
  
}

table {
    table-layout: fixed;
}

    table > thead > tr > th:first-child, table > tbody > tr > td:first-child {
        width: 25px;
        border: none !important;
    }

    table.table-monitoring > thead > tr > th:first-child, table > tbody > tr > td:first-child {
        width: 35px;
    }

    .monitoring-success { /*color: #008000;*/ color:#28F828; }
    .monitoring-error { color: #FF0000; }

    .m-btn { display:inline-block; margin: 0 4px 0 0; width:20px; height: 20px; font-size:20px; text-decoration:none; color: #000; line-height: 1em; vertical-align:middle; }
    .m-btn .fa { color:#000 !important; }


    
    .table-reset{
    table-layout:auto !important;
}
    .table-reset > thead > tr > th:first-child, .table-reset > tbody > tr > td:first-child {
   width:auto !important;
   border:1px solid #ddd !important;
}

.fast-spin {
    -webkit-animation: fa-spin 1.6s infinite linear;
    animation: fa-spin 1.6s infinite linear;
}

.m-btn .fa.fa-spin { color: #999 !important; }

#rightsPopup table > thead > tr > th:first-child, #rightsPopup table > tbody > tr > td:first-child, #rightsTable > thead > tr > th:first-child,  #rightsTable > tbody > tr > td:first-child {
    width: auto !important;
}

 #operationResultsTable thead > tr > th:first-child, #operationResultsTable tbody > tr > td:first-child {
      width: auto !important;
    
 }

#operationResultsTable tbody > tr > td:first-child, #rightsTable tbody > tr  > td:first-child  {
    border-top: 1px solid #ddd !important;
}

 #operationResultsTable thead > tr > th:first-child{
         border-bottom: 1px solid #ddd !important;
 }


/*table > thead > tr:hover > th:first-child, table > tbody > tr:hover > td:first-child {
    background-color: #fff !important;
}*/

#operationResultsTable > tbody > tr:hover > td:first-child {
    background-color: #f5f5f5 !important;
}


table td div.active, table td div.pasive {
    margin-left: 0 !important;
}

.container-fluid {
    min-width: 1005px;
}


.truncate {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.truncate-maxwidth {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    max-width: 0 !important;
}

#schedulePopup .checkbox {
    padding-top: 13px;
    font-size: 11px;
    line-height: 20px;
}

td {
    white-space: nowrap;
}

    td.ellipsis {
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        max-width: 1px;
    }


h1, h2, h3, h4, h5, h6 {
    font-family: Lato, sans-serif;
}

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: block;
    background-color: #eee;
    position: fixed;
    top: 111px;
    bottom: 0;
    left: 0;
    z-index: 1030;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #eee;
    border-right: 1px solid #e1e1e1;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 111px;
        bottom: 0;
        left: 0;
        z-index: 1030;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #eee;
        border-right: 1px solid #e1e1e1;
    }
}

.loginbox {
    margin: 0 auto;
    width: 360px;
    border: 1px solid #ececec;
    padding: 0 25px 25px 25px;
    margin-top: 25px;
    border-radius: 4px;
    overflow: hidden;
    background: white;
}

    .loginbox .headsection {
        background: #B7472A url('../images/icc_top_background.png') no-repeat 80px -30px;
        margin: 0 -25px 15px -25px;
        padding: 10px 15px;
        color: white;
        min-height:60px;
    }


    .mr5 {
    margin-right: 5px;
}
        .ml8 {
    margin-left: 8px;
}
    

.mr10 {
    margin-right: 10px;
}


#appVersionBox {
    border-top: 1px solid #ccc;
    padding-top: 8px;
    display: block;
    margin-top: 15px;
    font-size: 11px;
    font-weight: bold;
}


/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

    .nav-sidebar > li > a {
        padding: 12px 20px 12px 20px;
        color: #777;
        font-size: 12px;
    }

        .nav-sidebar > li > a:hover,
        .nav-sidebar > .active > a,
        .nav-sidebar > .active > a:hover,
        .nav-sidebar > .active > a:focus {
            color: #fff;
            background-color: #777;
            box-shadow: inset 4px 0 0 #712B1A;
        }

        .nav-sidebar > li > a:hover {
            background-color: #999;
        }

    .nav-sidebar li {
        list-style: none;
    }

        .nav-sidebar li a {
            list-style: none;
            color: #777;
            font-size: 12px;
        }




.arrowed-box {
    display: block;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none;
    user-select: none; /* IE10+ */
}

    .arrowed-box:hover, .arrowed-box.active {
        color: #fff;
        background-color: #777;
        box-shadow: inset 4px 0 0 #712B1A;
        text-decoration: none;
    }

        .arrowed-box:hover a, .nav-sidebar li .arrowed-box.active a {
            color: white !important;
            text-decoration: none;
        }

    .arrowed-box a.arrow-mark {
        float: left;
        display: block;
        padding: 12px 6px 12px 20px;
        font-size: 17px;
        line-height: 18px;
    }

    .arrowed-box a.item {
        display: block;
        padding: 12px 12px 12px 15px;
    }


    .arrowed-box a.arrow-mark:hover {
        color: #B7472A;
    }

.nav-sidebar li ul li .arrowed-box.active, .nav-sidebar li ul li .arrowed-box:hover {
    background: transparent !important;
    box-shadow: none !important;
}

.nav-sidebar li ul li .arrowed-box a.arrow-mark {
    padding: 5px 6px 5px 10px;
    margin-left: -15px;
}

.nav-sidebar li ul li .arrowed-box a.item {
    display: block;
    padding: 5px 8px 5px 10px;
    -ms-word-break: break-all;
    word-break: break-all;
    min-width: 200px;
}


.nav-sidebar li ul li .arrowed-box:hover a, .nav-sidebar li ul li .arrowed-box.active a {
    color: #B7472A !important;
    background-color: transparent !important;
    box-shadow: none !important;
    font-weight: 900;
    cursor: pointer;
}

.nav-sidebar li ul li ul {
    padding-left: 17px;
}

.nav-sidebar li:first-child ul:first-child {
    padding-left: 35px;
}

#scrollable_folders.scrolly {
    max-height: 400px;
    overflow-y: scroll;
}

#scrollable_folders.scrollx {
    overflow-x: scroll;
}

#menuBox {
    overflow-y: visible;
    min-width: 200px !important;
}

.breakword{
     -ms-word-break: break-all; 
     word-break: break-all;
}

#scrollable_treeview .arrowed-box {
}

    #scrollable_treeview .arrowed-box:hover {
    }

    #scrollable_treeview .arrowed-box a.item {
        padding: 3px 6px 3px 15px;
        -ms-word-break: break-all;
        word-break: break-all;




        min-width: 200px;
        text-decoration: none;
    }

    #scrollable_treeview .arrowed-box a.arrow-mark {
        padding: 8px 6px 8px 20px;
        margin-left:-15px;
    }

    #scrollable_treeview .arrowed-box:hover, #scrollable_treeview .arrowed-box.active a , #scrollable_treeview a.item.active, #scrollable_treeview a.item:hover {
        color:   #B7472A !important;
        background-color: white !important;
        box-shadow: none !important;
        text-decoration: none !important;
    }

        #scrollable_treeview .arrowed-box:hover a {
            color:   #B7472A !important;
            text-decoration: none;
        }

/*
 * Main content
 */

.main {
    padding: 20px;
    padding-bottom: 60px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

    .placeholders h4 {
        margin-bottom: 0;
    }

.placeholder {
    margin-bottom: 20px;
}

    .placeholder img {
        display: inline-block;
        border-radius: 50%;
    }


#brand-name {
    font-weight: bold;
    font-size: 13px;
    color: white;
    line-height: 16px;
    min-width: 260px;
    padding-top: 18px;
}



.navbar-brand {
    height: 70px;
    padding: 10px 15px;
}

.navbar {
    background-color: #B7472A;
    background: #B7472A url('../images/icc_top_background.png') no-repeat 400px -45px;
    height: 110px;
}


.navbar-nav > li > a {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    font-weight: 700;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ddd;
}

#subnavbar {
    background-color: #712B1A;
}

#nav_info {
    padding-left: 45px;
    padding-right: 15px;
}

    #nav_info .fa {
        font-size: 16px;
    }

#subnavbar ul > li > a:hover {
    box-shadow: inset 0 -4px 0 #B7472A;
}


.breadcrumb {
    padding: 0 15px;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
}

    .breadcrumb li a {
        color: rgba(255,255,255, .5);
        font-size: 11px;
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 20px;
        display: inline-block;
        box-shadow: none !important;
        /*-ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        max-width: 43px;*/
        display: inline-block;
        -ms-word-wrap: normal;
        word-wrap: normal;
        overflow: hidden;
        vertical-align: middle;
    }

        .breadcrumb > .active, .breadcrumb li a:hover {
            color: white;
            font-size: 11px;
        }

    .breadcrumb > li + li:before {
        padding: 0 5px;
        color: rgba(255,255,255,.5);
        /*content: "/\00a0";*/
        content: "\3E";
        vertical-align: middle;
        display: inline-block;
    }


.page-header {
    font-size: 18px;
    font-weight: bold;
    color: black;
    padding-bottom: 15px;
    border-color: #DDDDDD;
}

.main h1.page-header:first-child {
    padding-top: 7px;
}

.table td .fa {
    font-size: 20px;
    color: #929292;
    text-align: center;
    min-width: 30px;
}

.valigntop{
 vertical-align:top;
}
.mt1{
           margin-top: 1px;

}
.ml7{
        margin-left: 7px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 15px 8px;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.table > thead > tr > th {
    color: black;
    font-size: 14px;
    font-weight: bold !important;
    border-bottom: 1px solid #ddd;
}

.table > tbody > tr > td {
    color: #777;
    font-size: 13px;
}

.table.trclickable tr:hover {
    cursor: pointer;
}

#userNav .dropdown-menu{
    z-index: 9999999990 !important;
}


.dropdown-menu.contextmenu {
    border-radius: 2px;
    border-color: #ddd;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
    z-index: 9999;
}

    .dropdown-menu.contextmenu > li > a {
        display: block;
        padding: 7px 20px;
        clear: both;
        font-weight: normal;
        color: #777;
        font-size: 13px;
    }

        .dropdown-menu.contextmenu > li > a .fa {
            font-size: 14px;
            color: #929292;
            min-width: 14px;
            text-align: center;
            margin-right: 6px;
        }

.contextmenu {
    display: block;
}




.modal-dialog {
    margin: 6% auto !important;
}



#shapeExpression{
    font-family: Consolas, Inconsolata,'Lucida Console', Lato, sans-serif;
    font-size: 14px;
    font-weight: bold;
}


/*STEP WIZARD CSS START*/

.stepwizard-step p {
    margin-top: 5px;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #c7c7c7;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.stepwizard-step .btn {
    border-radius: 50%;
    color: #c7c7c7;
    font-weight: 400;
    line-height: 34px;
    width: 50px;
    height: 50px;
    background-color: white;
    border: 5px solid #c7c7c7;
    font-size: 20px;
    padding: 3px;
    margin: 0;
    min-width: 50px;
    cursor: default;
}

    .stepwizard-step .btn[disabled] {
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
    }




.stepwizard-row:before {
    top: 24px;
    bottom: 0;
    position: absolute;
    content: " ";
    height: 4px;
    background-color: #c7c7c7;
    margin: 0 auto;
    width: 70%;
    left: 15%;
}

.stepwizard-row.noline:before {
    background-color: transparent;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.stepwizard-row .stepwizard-step:first-child {
    display: table-cell;
    text-align: center;
    position: relative;
}

.stepwizard-row .stepwizard-step:last-child {
    display: table-cell;
    text-align: center;
    position: relative;
}


.stepwizard-step.current .btn {
    color: #B7472A;
}


.stepwizard-step.current p {
    color: #B7472A;
}

.stepwizard-step.completed p {
    color: #3eccac;
    font-weight: 700;
}

.stepwizard-step .btn .fa.fa-check {
    display: none;
}

.stepwizard-step.completed .btn .fa {
    display: none;
}

    .stepwizard-step.completed .btn .fa.fa-check {
        margin: 8px -2px -2px -2px;
        color: #3eccac;
        display: block;
    }


.stepwizard-step.rejected .btn {
    background-color: indianred;
    border-color: indianred;
    color: #fff;
    font-weight: bold;
}

.stepwizard-step.rejected p {
    color: indianred;
    font-weight: bold;
}

.stepwizard-step.rejected .btn .fa.fa-remove {
    font-size: 14px;
    margin: 2px -2px -2px -2px;
    color: #fff;
}




.stepwizard-step.completed, .stepwizard-step.completed p {
    color: #3eccac;
}

.stepwizard-step .stepno {
    display: inline-block;
}

.stepwizard-step .glyphicon {
    display: none;
}

.stepwizard-step.completed .stepno, .stepwizard-step.rejected .stepno {
    display: none;
}

.stepwizard-step.completed .glyphicon.glyphicon-ok {
    display: inline-block;
}

.stepwizard-step.rejected .glyphicon.glyphicon-remove {
    display: inline-block;
}


/*STEP WIZARD CSS END*/





.form-control {
    display: block;
    width: 100%;
    height: 46px;
    padding: 8px 14px;
    font-size: 12px;
    color: #777;
    background-color: #fff;
    background-image: none;
    border: 1px solid #c7c7c7;
    border-radius: 2px;
    box-shadow: none !important;
}

    .form-control:focus {
        border-color: #aaa;
    }

label.control-label {
    color: #777;
    font-size: 11px;
}

.btn {
    display: inline-block;
    padding: 12px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 2px;
    min-width: 80px;
}
.btn .fa{
    margin-right:5px;
}
.btn.excel{
    background-color:#5cb85c !important;
        border-color: #5cb85c !important;
}
.btn.excel .fa{
font-size:15px;
}

.btn-default {
    color: #666;
    border: 1px solid #bbb;
}

.btn-sm {
        padding: 9px 12px;
}

.btn-primary {
    background: #B7472A;
    border-color: #B7472A;
}

    .btn-primary:hover {
        background: #923922;
        border-color: #923922;
    }

    .nav-tabs.nav-justified.monitoring-tabs > li > a {
        color: #999;
        background-color: #eee;
        border-color: #eee #eee #ddd;
        border-right-color: #fff;
    }


    .nav-tabs.nav-justified.monitoring-tabs > li.active > a,.nav-tabs.nav-justified.monitoring-tabs > li.active > a:hover,.nav-tabs.nav-justified.monitoring-tabs > li.active > a:focus {
        background-color: #B7472A;
        border-color: #B7472A;
        color: #fff;
    }


    .nav-tabs.nav-justified.monitoring-tabs > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #ccc;
    border-color: #ccc #ccc #bbb;
    color:#fff;
} 


.wizard-steps {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 30px;
    /*border-bottom: 2px solid #e5e5e5;
    margin-bottom: 30px;
    background-color: #f5f5f5;
    margin: 0 -40px 30px -40px;
    padding-left: 40px;
    padding-right: 40px;
    border-top: 1px solid #e5e5e5;
    padding-top: 15px;*/
}

    .wizard-steps .btn.next, .wizard-steps .btn.prev {
        width: 98px;
        height: 50px;
        border: 1px solid #c7c7c7;
        border-radius: 2px;
        color: #c7c7c7;
        font-size: 12px;
        font-weight: 900;
        line-height: 12px;
        padding: 18px 6px;
        text-align: center;
        margin-top: 10px;
    }


    .wizard-steps .btn.next {
        background-color: #B7472A;
        color: white;
        border-color: #B7472A;
    }

        .wizard-steps .btn.next:hover, .wizard-steps .btn.prev:hover {
            color: white;
        }


.variables_box {
    background: #eee;
    border: 1px solid #c7c7c7;
    border-radius: 0;
    padding: 15px;
}

    .variables_box label.control-label, label.control-label.redlabel {
        font-size: 12px;
        font-weight: bold;
        color: #B7462A;
    }

    .variables_box hr {
        border-color: #c7c7c7;
        margin: 10px -15px;
    }

    .variables_box .list-group {
        border-radius: 0;
        border-color: #c7c7c7;
        font-size: 12px;
        color: #777;
        max-height: 300px;
        overflow-x: hidden;
        overflow-y: scroll;
    }

        .variables_box .list-group a {
            font-size: 12px;
            color: #777;
            display: inline-block;
            vertical-align: middle;
            line-height: 20px;
        }

            .variables_box .list-group a:hover, .variables_box .list-group a:hover .fa {
                text-decoration: none;
                cursor: pointer;
                color: #444;
            }

            .variables_box .list-group a .fa {
                font-size: 20px;
                color: #ababab;
                margin-right: 5px;
                vertical-align: middle;
                line-height: 21px;
            }


.modal-body {
    padding: 30px;
}

.modal-content {
    border-radius: 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.modal-header {
    border-color: #c7c7c7;
}

.modal-title {
    font-size: 18px;
    color: black;
    font-weight: bold;
}

#sql_query {
    min-height: 140px;
    max-height: 400px;
    overflow-y: scroll;
}

.sqleditor {
    font-family: Consolas, Inconsolata,'Lucida Console', Lato, sans-serif;
    color: black;
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
    outline: none;
    margin-bottom: 15px;
    height: 100%;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    overflow-y: scroll;
    max-height: 150px;
}

    .sqleditor .blue {
        color: #0000FF;
    }

    .sqleditor .gray {
        color: #8C8C8C;
    }

/* Pretty printing styles. Used with prettify.js. */

/* SPAN elements with the classes below are added by prettyprint. */
.pln {
    color: #000;
}
/* plain text */

@media screen {
    .str {
        color: #080;
    }
    /* string content */
    .kwd {
        color: #008;
    }
    /* a keyword */
    .com {
        color: #800;
    }
    /* a comment */
    .typ {
        color: #606;
    }
    /* a type name */
    .lit {
        color: #066;
    }
    /* a literal value */
    /* punctuation, lisp open bracket, lisp close bracket */
    .pun, .opn, .clo {
        color: #660;
    }

    .tag {
        color: #008;
    }
    /* a markup tag name */
    .atn {
        color: #606;
    }
    /* a markup attribute name */
    .atv {
        color: #080;
    }
    /* a markup attribute value */
    .dec, .var {
        color: #606;
    }
    /* a declaration; a variable name */
    .fun {
        color: red;
    }
    /* a function name */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
    .str {
        color: #060;
    }

    .kwd {
        color: #006;
        font-weight: bold;
    }

    .com {
        color: #600;
        font-style: italic;
    }

    .typ {
        color: #404;
        font-weight: bold;
    }

    .lit {
        color: #044;
    }

    .pun, .opn, .clo {
        color: #440;
    }

    .tag {
        color: #006;
        font-weight: bold;
    }

    .atn {
        color: #404;
    }

    .atv {
        color: #060;
    }
}

/* Put a border around prettyprinted code snippets. */
pre.prettyprint {
    padding: 2px;
    border: 1px solid #888;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
}
/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
    list-style-type: none;
}
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
    background: #eee;
}

pre.prettyprint, pre {
}


.detailbar {
    background: #f9f9f9;
    border-left: 1px solid #e4e4e4;
    position: fixed;
    top: 111px;
    bottom: 0;
    right: 0;
    z-index: 1029;
    min-width: 230px !important;
}

    .detailbar a.close {
        display: block;
        line-height: 25px;
        padding: 12px 0;
        font-size: 25px;
    }

    .detailbar .nav-tabs {
        background: #777777 !important;
        box-shadow: 0 0 3px rgba(0,0,0,0.2);
        margin-bottom: 15px;
    }

        .detailbar .nav-tabs > li > a {
            font-size: 11px;
            color: white;
            border: none !important;
            border-bottom: 3px solid transparent !important;
            background: none;
            box-shadow: none;
        }

            .detailbar .nav-tabs > li > a:hover, .detailbar .nav-tabs > li.active > a {
                border-bottom: 3px solid #fff !important;
                background: none;
                color: white;
            }

    .detailbar label.control-label {
        font-size: 12px;
        font-weight: 400;
    }

    .detailbar .form-control-static {
        font-size: 12px;
        font-weight: 600;
    }

table tbody tr {
    cursor: pointer;
}

.form-horizontal .control-label {
    padding-top: 16px;
}


.list-box {
    border: 1px solid #c7c7c7;
    padding: 0;
    border-radius: 2px;
    margin-top: 10px;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

    .list-box a {
        display: block;
        padding: 10px 12px;
        border-bottom: 1px solid #c7c7c7;
        color: #888;
        font-size: 12px;
        text-decoration: none !important;
    }


        .list-box a:last-child {
            border: none;
        }


        .list-box a.selected, .list-box a:hover {
            background-color: #23527c;
            color: white;
            text-decoration: none;
            border-color: #23527c;
            cursor: pointer;
            margin: -1px -1px 0 -1px;
            padding: 11px 13px 10px 13px;
        }

.swap-buton {
    display: block;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: white;
    text-decoration: none;
    background-color: #923922;
    box-shadow: none !important;
}

.dropdown-menu > li > a {
    padding: 6px 20px;
}


#myTabContent .form-horizontal .control-label {
    padding-top: 8px;
}

table td div.active {
    background-color: #28F828;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-left: -30px;
    display: inline-block;
    margin-right: 15px;
}

table td div.pasive {
    background-color: #FF0000;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-left: -30px;
    display: inline-block;
    margin-right: 15px;
}


table th .fa {
    font-size: 10px;
    color: #999;
}


.sortbutton {
    visibility: hidden;
}

table th:hover .sortbutton {
    visibility: visible;
}


table thead tr td {
    font-weight: bold;
    color: black;
}


.icc-folder, .icc-job, .icc-localparameter, .icc-rule, .icc-user, .icc-role, .icc-userobject, .icc-connection {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../images/folder.png') no-repeat center center;
    vertical-align: top;
    margin-right: 5px;
}

.icc-job {
    background: url('../images/jobicon.png') no-repeat center center;
}

.icc-localparameter {
    background: url('../images/parametre.png') no-repeat center center;
}

.icc-rule {
    background: url('../images/rule.png') no-repeat center center;
}

.icc-user {
    width: 30px;
    height: 30px;
    background: url('../images/user.png?v=1.0.22') no-repeat center center;
}

.icc-role {
    background: url('../images/role.png?v=1.0.21') no-repeat center center;
}

.icc-userobject {
    background: url('../images/userobject.png?v=1.0.21') no-repeat center center;
}

.icc-connection {
    background: url('../images/connection.png?v=1.0.21') no-repeat center center;
}


#userNav {
    font-size: 11px;
    font-weight: normal;
    color: white;
    line-height: 14px;
    padding: 13px 15px;
}

    #userNav > li {
        padding: 0;
    }

        #userNav > li > a {
            padding: 5px;
        }

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: rgba(0,0,0,0.1);
}




/* Breadcrumbs from http://bootsnipp.com/snippets/featured/triangle-breadcrumbs-arrows */
.btn-breadcrumb .btn:not(:last-child):after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid white;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: 100%;
    z-index: 3;
}

.btn-breadcrumb .btn:not(:last-child):before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid rgb(173, 173, 173);
    position: absolute;
    top: 50%;
    margin-top: -17px;
    margin-left: 1px;
    left: 100%;
    z-index: 3;
}

.btn-breadcrumb .btn, .btn-breadcrumb .btn:hover {
    padding: 10px 8px !important;
    background: transparent;
    border: none;
    box-shadow: none;
    margin: 0;
    color: rgba(255,255,255,.7);
    min-width: 10px;
    margin-right: 8px;
    margin-left: 0 !important;
}

    .btn-breadcrumb .btn:hover {
        color: white;
    }

    .btn-breadcrumb .btn:first-child {
        padding: 6px 6px 6px 10px;
    }

    .btn-breadcrumb .btn:last-child {
        padding: 6px 6px 6px 10px;
    }

    /** Default button **/
    .btn-breadcrumb .btn.btn-default:not(:last-child):after {
        /*border-left: 5px solid #fff;*/
        padding: 6px 2px;
        color: #ccc;
        content: "\3E";
        border: none;
        top: 0;
        margin-top: 5px;
        width: auto;
        height: auto;
    }

    .btn-breadcrumb .btn.btn-default:not(:last-child):before {
        border-left: 5px solid #ccc;
        padding: 0 5px;
        color: #ccc;
        content: "\3E";
        border: none;
        top: 15%;
        margin-top: 0;
        display: none;
    }
/*.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
  border-left: 5px solid #ebebeb;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
  border-left: 5px solid #adadad;
}*/

/* The responsive part */

.btn-breadcrumb > * > div {
    /* With less: .text-overflow(); */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-breadcrumb > a:last-child div {
    max-width: 325px;
}

.btn-breadcrumb > *:nth-child(n+2) {
    display: none;
}

/* === For phones =================================== */
@media (max-width: 767px) {
    .btn-breadcrumb > *:nth-last-child(-n+2) {
        display: block;
    }

    .btn-breadcrumb > * div {
        max-width: 55px;
    }
}

/* === For tablets ================================== */
@media (min-width: 768px) and (max-width:991px) {
    .btn-breadcrumb > *:nth-last-child(-n+4) {
        display: block;
    }

    .btn-breadcrumb > * div {
        max-width: 55px;
    }
}

/* === For desktops ================================== */
@media (min-width:1600px) and (max-width:9000px) {
    .btn-breadcrumb > *:nth-last-child(-n+20) {
        display: block;
    }

    .btn-breadcrumb > * div {
        max-width: 55px;
    }

    .btn-breadcrumb .btn:last-child > div {
        max-width: none;
    }
}

@media (min-width:1500px) and (max-width:1600px) {
    .btn-breadcrumb > *:nth-last-child(-n+16) {
        display: block;
    }

    .btn-breadcrumb > * div {
        max-width: 55px;
    }
}



@media (min-width:1400px) and (max-width:1500px) {
    .btn-breadcrumb > *:nth-last-child(-n+13) {
        display: block;
    }

    .btn-breadcrumb > * div {
        max-width: 55px;
    }
}

@media (min-width:1300px) and (max-width:1400px) {
    .btn-breadcrumb > *:nth-last-child(-n+13) {
        display: block;
    }

    .btn-breadcrumb > * div {
        max-width: 55px;
    }
}

@media (min-width:1200px) and (max-width:1300px) {
    .btn-breadcrumb > *:nth-last-child(-n+10) {
        display: block;
    }

    .btn-breadcrumb > * div {
        max-width: 55px;
    }
}

@media (min-width:1100px) and (max-width:1200px) {
    .btn-breadcrumb > *:nth-last-child(-n+8) {
        display: block;
    }

    .btn-breadcrumb > * div {
        max-width: 55px;
    }
}

@media (min-width:100px) and (max-width:1100px) {
    .btn-breadcrumb > *:nth-last-child(-n+6) {
        display: block;
    }

    .btn-breadcrumb > * div {
        max-width: 55px;
    }
}



@media (max-width:700px) {
    .btn-breadcrumb > *:nth-last-child(-n+4) {
        display: block;
    }

    .btn-breadcrumb > * div {
        max-width: 55px;
    }
}



#rightsPopup .modal-header, #ownerPopup .modal-header , #schedulePopup .modal-header, #applyFilterPopup .modal-header ,  #rescheduleCommandPopup .modal-header,#detailPopup .modal-header , #licencePopup  .modal-header, #liveRuleMonitoringPopup .modal-header{
    background: #B7472A;
}

#rightsPopup .modal-title, #ownerPopup .modal-title,#schedulePopup .modal-title, #applyFilterPopup .modal-title ,  #rescheduleCommandPopup  .modal-title,#detailPopup .modal-title  , #licencePopup  .modal-title, #liveRuleMonitoringPopup .modal-title{
    color: #fff;
}
 
#rightsPopup div.checkbox , #rightsTable div.checkbox{
    margin: 0;
    text-align: left;
    width: 40px;
}

    #rightsPopup div.checkbox input, #rightsTable div.checkbox input {
        margin: 0;
        padding: 0;
        width: 20px;
        text-align: left;
    }

    #rightsTable{
        width:190px;
    }

    #rightsTable thead th{
        padding-left:0;
    }

     #rightsTable tbody td{
        padding-left:0;
    }

#rightsPopup table td {
    padding: 8px 10px;
}

    #rightsPopup table td:nth-child(2), #rightsPopup table td:nth-child(3), #rightsPopup table td:nth-child(4), #rightsPopup table th:nth-child(2), #rightsPopup table th:nth-child(3), #rightsPopup table th:nth-child(4) {
        width: 70px;
        text-align: left;
        padding: 10px 8px;
    }

#rightsPopup .close, #ownerPopup .close,  #schedulePopup .close , #applyFilterPopup .close , #rescheduleCommandPopup .close, #detailPopup .close , #licencePopup  .close, #liveRuleMonitoringPopup .close {
    color: #fff;
    opacity: 1;
}

#rightsPopup tbody {
    border: 1px solid #ccc;
}

#rightsPopup table thead th {
    padding: 8px;
}

#rightsPopup .modal-dialog {
    margin: 5% auto !important;
}

#rightsPopup .usersTable {
    margin-bottom: 0;
}


.panel {
    border-radius: 2px;
    box-shadow: none;
}

.panel-default > .panel-heading {
    color: white;
    background-color: #B7472A;
    border-color: #ddd;
    margin: -1px;
}


.panel-icon {
    float: left;
    display: block;
    width: 40px;
}

.panel-rows {
    padding-left: 15px;
    padding-top: 13px;
}


    .panel-rows hr {
        margin-bottom: 15px;
        margin-top: 15px;
    }

.summary-boxes .panel-body .panel-rows {
    height: 150px;
    overflow-y: hidden;
}


.panel-rows.wide {
    padding-left: 75px;
    padding-top: 13px;
    overflow: auto !important;
    height: auto !important;
}


.noscroll-y {
    overflow-y: visible !important;
    height: auto !important;
}

.boxlink {
    border: none;
    padding: 0;
    text-align: center;
    display: block;
    border-radius: 4px;
    margin: 12px 0;
    color: #777;
    -moz-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    -webkit-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
}

    .boxlink a:hover {
        color: #B7472A;
        cursor: pointer;
        text-decoration: none;
    }

    .boxlink img {
    }

    .boxlink p {
        margin: 0;
        line-height: 1em;
        padding-top: 17px;
        padding-left: 60px;
        text-align: left;
    }

.table-responsive {
    /*padding-left: 25px;
    margin-left: -25px;*/
}

.summaryline a{
    color:inherit;
    text-decoration:none;
}

.summaryline {
    border-bottom: 1px solid #eee;
    padding-bottom: 3px;
    padding-top: 3px;
}

#notificationsPeeksPanel .summaryline:hover{
    background-color:#f5f5f5 !important;
}

.panel-rows .summaryline:last-child {
    border-bottom: none;
}

.notificationItem .form-group  {
margin-bottom:8px;
}

.notificationItem.panel-default > .panel-heading{
      
    background-color: white;
    border-color: #ddd;
    margin: -1px;
    color: black;
    padding-left: 0;
    
}

.notificationItem label.control-label{
  margin-top: 0;
    font-size: 13px;
    line-height: 46px;
    margin-bottom: 0;
    padding: 0;
    vertical-align: middle;
}
.notificationItem .radio,.notificationItem  .checkbox {
  position: relative;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1em;
    padding-top: 11px;
}

.helpcontainer {
    padding-left: 60px;
}


@media (min-width:1024px) and (max-width:1366px) {
    .helpcontainer {
        padding-left: 50px;
    }

    .boxlink img {
        max-width: 45px;
        max-height: 45px;
    }

    .boxlink p {
        padding-left: 50px;
        font-size: 12px;
    }
}

@media (min-width:300px) and (max-width:1024px) {

    .helpcontainer {
        padding-left: 15px;
    }

    .boxlink {
        min-height: 62px;
        margin: 8px -30px 8px 10px;
    }

        .boxlink img {
            max-width: 45px;
            max-height: 45px;
        }

        .boxlink p {
            font-size: 11px;
            padding-left: 50px;
        }

    .panel {
        margin-bottom: 10px;
    }

    #appVersionBox {
        font-size: 9px;
    }

    .navbar-nav {
        margin: 0;
    }

        /*.nav-tabs.nav-justified > li{
      float:left;
  }*/


        .navbar-nav .open .dropdown-menu {
            position: absolute;
            float: left;
            min-width: 160px;
            /* margin-top: 0; */
            background-color: #fff;
            border: 1px solid rgba(0, 0, 0, .15);
            border-radius: 4px;

        }
    /*.navbar-nav.open .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
 
   
}*/
}

#navbar {
    display: block !important;
}

.navbar-header {
    float: left !important;
}

.navbar-nav > li {
    float: left;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border: none;
}

.datepicker_textbox[disabled] {
    background-color: white;
    cursor: pointer;
}

{

}

#selectJobAndRulePopup{
        -moz-user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.k-button {
    font-size: 11px;
    padding: 5px !important;
    -moz-user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.modal {
    z-index: 99999 !important;
}

#selectJobAndRulePopup .modal-body {
    padding: 0;
}

#selectJobAndRulePopup .modal-dialog {
    margin: 10% auto !important;
}

.bgf5 {
    background-color: #f5f5f5;
}

.toolselected {
    background-color: #ededed;
}


.k-animation-container {
    z-index: 1009 !important;
}

    .k-animation-container:last-child {
        z-index: 1008 !important;
    }

/*body .k-animation-container:last-child{
    z-index:999 !important;
}*/

.errorTooltip {
    background: #eee;
    border-radius: 2px;
    padding: 5px;
}

.nodeTooltip {
    table-layout: initial;
    width: 100%;
}

.nodeTooltip tbody tr td{
       white-space: normal;
       text-align:left !important;
}


.nodeTooltip tbody tr td:first-child{
        width: 80px !important;
        text-align:right !important;
}

.nodeTooltip.live_monitor tbody tr td:first-child{
            text-align:center !important;
}


.k-tooltip{
        width: auto !important;
    min-width: 280px !important;
    max-width: 580px !important;
   
}

.k-animation-container{
    width: 100% !important;
    min-width: 280px !important;
    max-width: 580px !important;
  
    height: auto !important;
}


/*#liveMonitoringDiagram .k-layer{
    width:100% !important;
    height:100% !important;
    transform: none !important;
}*/

#diagram_container, #live_diagram_container {
    position: relative;
}

#diagram {
    display: block;
    position: relative;
    height: 500px;
    background: #f8f8f8;
    border: 1px solid #e6e1d5 !important;
}

#tools, #zoom_box, #fs_box , #live_tools, #live_zoom_box {
    position: absolute;
    left: 15px;
    top: 15px;
    background: #fff;
    border: 1px solid #E6E1D5;
    border-radius: 6px;
    z-index: 1029;
    display: block;
    font-size: 9px;
    color: #999;
    font-weight: bold;
    padding: 10px 5px;
    text-align: center;
}

#zoom_box, #live_zoom_box {
    left: auto;
    top: auto;
    right: 15px;
    bottom: 15px;
    padding: 2px 3px;
}

#fs_box {
    left: auto;
    top: 15px;
    right: 15px;
    bottom: auto;
    padding: 2px 3px;
}


#tools hr, #zoom_box hr, #live_zoom_box hr {
    border-color: #E6E1D5;
    border-width: 1px;
    margin: 0;
}

#tools p , #live_tools p{
    font-size: 7px;
    margin: 0;
    line-height: 1em;
    padding: 0 0 1px 0;
}

.toolicon {
    display: block;
    background: transparent url('../images/icon_hand.png') no-repeat center center;
    width: 24px;
    height: 24px;
    margin: 8px 0;
    padding: 0;
    border-radius: 2px;
}

#tools .toolicon:last-child, #live_tools .toolicon:last-child{
    margin-bottom: 0;
}

#zoom_box .toolicon, #fs_box .toolicon , #live_zoom_box .toolicon {
    width: 24px;
    height: 24px;
    margin: 3px 0;
}

.toolicon.toolselected, .toolicon:hover {
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
    box-shadow: 0 0 0px 1px rgba(0,0,0,0.2);
}

#liveRuleMonitoringPopup .modal-header {
    margin-bottom: -1px;
    border-bottom: none;
}

.toolicon.hand {
    background-image: url('../images/icon_hand.png');
}

.toolicon.selectmark {
    background-image: url('../images/icon_select.png');
}

.toolicon.start {
    background-image: url('../images/icon_start.png');
}

.toolicon.end {
    background-image: url('../images/icon_end.png');
}

.toolicon.decision {
    background-image: url('../images/icon_decision.png');
}

.toolicon.job {
    background-image: url('../images/icon_job.png');
}

.toolicon.rule {
    background-image: url('../images/icon_rule.png');
}

.toolicon.comment {
    background-image: url('../images/icon_comment.png');
}

.toolicon.resetview {
    background-image: url('../images/icon_resetview.png');
}

.toolicon.zoomin {
    background-image: url('../images/icon_zoomin.png');
}

.toolicon.zoomout {
    background-image: url('../images/icon_zoomout.png');
}

.toolicon.fullscreen {
    background-image: url('../images/icon_fullscreen.png');
}



.k-popup {
    background: #fff;
    border: 1px solid #E6E1D5;
    border-radius: 10px;
    box-shadow: 0 0 4px 0px rgba(0,0,0,0.1);
    overflow: hidden;
    padding: 0 !important;
    max-height: 42px;
}

.k-toolbar {
    background: #fff;
    z-index: 0 !important;
    padding: 0 10px;
    line-height: 36px !important;
}

    .k-toolbar a img {
        width: 18px;
    }

    .k-toolbar a {
        display: inline-block !important;
        background-color: transparent !important;
        border-color: none !important;
        margin: 0 !important;
        border: none !important;
        font-size: 0 !important;
        padding: 2px !important;
    }

        .k-toolbar a:hover {
            background-color: rgba(0,0,0,0.1) !important;
            box-shadow: 0 0 0px 1px rgba(0,0,0,0.14) !important;
        }


    .k-toolbar .seperator {
        display: inline-block;
        width: 0;
        border-right: 1px solid #E6E1D5;
        height: 18px;
        margin: 0 5px;
        vertical-align: middle;
    }


.k-tooltip {
    background-color: white !important;
    box-shadow: none !important;
    border: none !important;
    border-radius: 0 !important;
    overflow: hidden;
    padding: 0 !important;
    max-height: none !important;
    z-index: 9999999 !important;
    transform: translateY(0px) !important;
}

    .k-tooltip table {
        background: #ffffcc;
        border: 1px solid #000 !important;
    }


        .k-tooltip table tr td, .k-tooltip table tr {
            border: 1px solid #000 !important;
            width: auto !important;
            color: black;
            font-size: 12px;
        }

            .k-tooltip table tr td {
                padding: 5px;
                text-align: center;
            }


.nav-ul {
    border-right: 1px solid #ececec;
    height: 430px;
}

    .nav-ul, .nav-ul li ul {
        padding: 10px 0;
        margin: 0;
    }

        .nav-ul li {
            list-style-type: none;
            color: #777 !important;
            padding: 0;
            line-height: 28px;
        }

            .nav-ul li a {
                display: inline-block;
                color: #777 !important;
            }


            .nav-ul li ul {
                padding: 0 0 0 15px;
            }

                .nav-ul li ul li {
                }

.ml-15 {
    margin-left: -15px;
}



.table tr.rowselected td {
    background-color: #f5f5f5 !important;
}

#fullScreenBox:fullscreen {
    z-index: 2147483647 !important;
}

#fullScreenBox:-webkit-full-screen {
    z-index: 2147483647 !important;
}



.k-animation-container {
    z-index: 2147483647 !important;
}

    .k-animation-container:last-child {
        z-index: 2147483647 !important;
    }



#scrollable_treeview.scrolly {
    max-height: 365px;
    overflow-y: scroll;
}

#scrollable_treeview.scrollx {
    overflow-x: scroll;
}

body.hideTooltip .k-animation-container .k-tooltip {
    display: none !important;
}


#diagram svg, #liveMonitoringDiagram svg{
    width:100%;
}

input[type=time]::-webkit-clear-button
{
    display:none;
}

input[type=time]::-webkit-outer-spin-button,
input[type=time]::-webkit-inner-spin-button {

margin-top:6px;    

}

.unread, .unread td{
    font-weight:bold;
    color:black !important;
}

.read, .read td{
     font-weight:bold;
    color:#999 !important;
}

#notificationsTable{
    table-layout:auto;

}

#notificationsTable td{
    white-space:normal !important;
}

#notificationsTable td:last-child{
    width:15%;
    font-size:11px;
}

.notify{
    position: fixed;
    z-index: 1000000000;
    width: 100%;
    border-radius: 0;
}

.open-notify{
    z-index:1000;
}

table tr.selected{
      background-color: #f5f5f5;
}

table > thead > tr.selected > th:first-child, table > tbody > tr.selected > td:first-child{
       background-color: #fff;
}

#notificationsTable td:last-child .fa{
    font-size: 11px;
    min-width: 11px;
    max-width: 11px;
    color: inherit;
}

#notificationsTable tr td:not(:first-child){
        border-top: none;
            border-bottom: 1px solid #ddd;
}

#menuBox ul li .badge{
    display: inline-block;
    position: relative;
    top: -7px;
    left:0;
    background-color:#B7472A;
    color:white;

}

#newNotificationAlert{
       position: fixed;
    bottom: 5px;
    right: 25px;
    width: 250px;
}

#reportsTable tr th:first-child{
     width: inherit !important;
    border-bottom:1px solid #ddd !important;
}

#reportsTable tr td:first-child{
     width: inherit !important;
    border-bottom:1px solid #ddd !important;
}

#newNotificationAlert a{
    color:inherit;
    text-decoration:none;
}

#newNotificationAlert.alert-success{
    color: #666;
    background-color: #FFEFEA;
    border-color: #fedece;
}

.whitebox{
    background-color:white;
    padding:10px;
}


.vert-label{
    vertical-align:middle;
    line-height:38px;
}

.vmiddle{
    vertical-align:middle;
}

#rightsPopup table > tbody > tr > td, #reportsTable > tbody > tr > td{
     border-bottom: 1px solid #ddd !important;
 }

pre{
       background-color: #fff;
    border: none;
}


.datepicker table > tbody > tr > td:first-child {
        width: auto !important;
        white-space:normal !important;
    }
    .datepicker table > tbody > tr > td {
        width: auto !important;
        white-space:normal !important;
    }


    .bootstrap-datetimepicker-widget table td.day:hover,
.bootstrap-datetimepicker-widget table td.hour:hover,
.bootstrap-datetimepicker-widget table td.minute:hover,
.bootstrap-datetimepicker-widget table td.second:hover {
  background: #eeeeee !important;
  cursor: pointer !important;
}

    .bootstrap-datetimepicker-widget table td.active,
    .bootstrap-datetimepicker-widget table td.active:hover,
    .bootstrap-datetimepicker-widget  table > tbody > tr:hover > td.active:first-child {
  background-color: #337ab7 !important;
  color: #ffffff !important;
  text-shadow: none !important;
}


    .datepicker table th.disabled,
    .datepicker table td.disabled,
    .datepicker table th.disabled:hover,
    .datepicker table td.disabled:hover,
    .datetimepicker .active.disabled,
    .datetimepicker .active.disabled:hover  {
  background: none !important;
  color: #bbb !important;
  cursor: not-allowed !important;
}



    .table-schedule { table-layout: auto !important; }
    .table-schedule tr td:nth-child(3){ width: 75px !important; }
    .table-schedule tr td:nth-child(4),
    .table-schedule tr td:nth-child(7){ width: 175px !important; }
    .table-schedule tr td:nth-child(5){ width: 115px !important; }
    .table-schedule tr td:nth-child(6){ width: 60px !important; }
    .table-schedule tr td:nth-child(8){ width: 160px !important; }



    .table-today { table-layout:auto; }
    .table-today tr td:nth-child(3){ width: 75px !important; }
    .table-today tr td:nth-child(4),
    .table-today tr td:nth-child(5){ width: 175px !important; }
    .table-today tr td:nth-child(6){ width: 65px !important; }
    .table-today tr td:nth-child(7){ width: 160px !important; }


    .table-schedule  tr td,.table-today tr td, 
    .table-today > thead > tr > th:first-child, 
    .table-today > tbody > tr > td:first-child,
    .table-schedule > thead > tr > th:first-child, 
    .table-schedule > tbody > tr > td:first-child, 
    .table-schedule > thead > tr > th,
    .table-today > thead > tr > th { border: 1px solid #ddd !important; }



    .helpmain {

    }


    .helpmain h2{
        font-weight:bolder;
        font-size: 22px; 
        text-align:center;
        color:#B7472A;
        padding: 15px 0 25px 0;
    }

    .helpmain a { 
        display:block;
        text-align:center;
        color:#B7472A;
        padding:20px 15px;
        border-radius: 6px;
        margin-bottom: 15px;
    }

    .helpmain a:hover { 
        background-color: #f5f5f5;
        text-decoration:none;
    }

    
    .helpmain a img { 
        clear:both;
    }

    .helpmain a .block { 
        display:block; 
        padding: 10px 0 0 0;
    }

    .block { display:block; }

.help-page {
    background: url('/images/help_navi_back_gray.png') repeat-y 0 0;
    padding: 20px;
    position: absolute;
    left: 0;
    top: 0;
}

    .help-left { 
        float:left;
        width: 300px;
        padding-top: 8px;
        position: relative;
    }

        .help-left ul {
            position: fixed;
            top: 145px;
            list-style-type:none;
            margin:0;
            padding:0;
            max-width: 280px;
            padding-right: 15px;
        }



/*Autocomplete css start*/

    .angucomplete-holder {
    position: relative;
}

.angucomplete-dropdown {
    border-color: #c7c7c7;
   
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width: 250px;
    padding: 6px 0;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    /*top: 32px;
    left: 0px;
    */
    margin-top: -1px;
    background-color: #ffffff;
   
}

.angucomplete-searching {
    color: #acacac;
    font-size: 14px;
}

.angucomplete-description {
    font-size: 14px;
}

.angucomplete-row {
    padding: 8px 12px;
    color:#666;
 margin:0;
    clear: both;
    font-size:12px;
    border-bottom:1px solid #efefef;
}
.angucomplete-dropdown .angucomplete-row:last-child{
    border-bottom:none;
}

.angucomplete-selected-row {
    background-color:#B7472A;
    color:white;
}

.angucomplete-image-holder {
    padding-top: 2px;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
}

.angucomplete-image {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border-color: #ececec;
    border-style: solid;
    border-width: 1px;
}

.angucomplete-image-default {
    /* Add your own default image here
     background-image: url('/assets/default.png');
    */
    background-position: center;
    background-size: contain;
    height: 34px;
    width: 34px;
}


/*Autocomplete css end*/



.angucomplete-title{

}


@media (min-width:50px) and (max-width:1100px) {
    .help-left ul {
        padding-left: 15px;
    }
}

        

    .help-right { 
        margin-left: 340px;
        padding: 40px;

    }


    .help-left ul li { list-style-type:none; padding: 5px 0 5px 30px; }



    .help-left ul li.main_node {
        padding: 8px 0 8px 15px;
    }

    .help-left ul li ul {
        position: inherit;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

        .help-left ul li ul li {
            padding: 5px 0 5px 30px;
        }



    /*.help-left ul li:first-child { padding-left: 0; padding-top:0; }*/
    /*.help-left ul li:first-child:before {*/ 
        
        /* \25bc ▼ */
        /* \25b6 ► */
        /* \25C0 ◄ */
        /* \25b2 ▲ */
        
        /*content: '\25bc'; width: 15px; font-size: 10px; display:inline-block; line-height: 15px;*/ 


    /*}*/
    .help-left ul li a { color: #B7472A; font-weight:bold; line-height: 19px;  }


    .help-right h1, h2, h3, h4, h5 ,h6 {
        color: #B7472A;
    }

    .help-right h3 {
        font-weight: bold;
        padding:0;
        margin:0;
        margin: 20px 0;
    }

    .help-right h3:first-child {
        margin-top: 0;
        margin-bottom: 30px;
    }

    .help-right h4 {
        font-weight: bold;
        padding:0;
        margin:0;
        margin: 40px 0 10px 0;
    }


    .help-right p,.help-right li { 
        line-height: 1.8em;
    }


    .help-right p img { 
          display: block;
  max-width: 100%;
  height: auto;

    }



     
@-moz-keyframes highlightAnimation {
 	0% {
 		color: #777;
    }50% {
 		color: rgba(0,0,0,0.2);
    }
 	100% {
 		color: #777;
    }
}

@-webkit-keyframes highlightAnimation {
 	0% {
 		color: #777;
    }50% {
 		color: rgba(0,0,0,0.2);
   }
 	100% {
 		color: #777;
   }
}

@keyframes highlightAnimation {
 	0% {
 		color: #777;
   }50% {
 		color: rgba(0,0,0,0.2);
   }
 	100% {
 		color: #777;
 	}
}


.highlight-text {
    -moz-animation: highlightAnimation 1s infinite; 
    -o-animation: highlightAnimation 1s infinite;
    -webkit-animation: highlightAnimation 1s infinite;
    animation: highlightAnimation 1s infinite;   
}

      .monitoring-filter{
        height:38px;
          max-height:38px;
        width:280px;
    }

      .line-center{
          text-align:center;
          position:relative;

      }
       .line-center:after{
          content:"";
          position:absolute;
          top:50%;
          left:0;
          right:0;
          border-top:1px solid #ccc;
          z-index: -1;
      }
       .line-center span{
           background:white;
           display:inline-block;
           font-size:14px;
           padding: 0 10px;
       }



       
    @media (min-width:50px) and (max-width:1023px) {
    
        .container-fluid { min-width: 300px; }
        body { padding-top: 0; min-width: 300px; }

        #mainNavBar {
            position: relative;
            width: auto;
        }

        #mainContentWrapper {
            min-height: 400px;
        }


        #menuBox { 
            position: fixed; top:110px; 
                min-width: 70px !important;
        }

        #mainBox { position: fixed; top: 110px; bottom:0; overflow-y:scroll; max-height: 700px; padding-left: 15px; padding-right: 15px;}
        body.modal-open #mainBox { position: relative !important; top:-20px; bottom:auto; }

        body.modal-open #mainBox .modal-dialog{ margin-left:10% !important; margin-right:10% !important; }


        #detailBox { display: none !important; }

        .nav-tabs.nav-justified > li { 
            display: table-cell;
            width: 1%;
        }

        #navbar { min-width: 450px !important; }

}

  