﻿<ul id="contextMenu" class="dropdown-menu contextmenu" role="menu" oncontextmenu="return false;">
    <li ng-show="item.Type == 'folder'"><a tabindex="-1" href="javascript:void(0);" ng-click="viewItemDetail(item.id,item.props.name,item.Type)"><span class="fa fa-eye"></span> OPEN</a></li>
    <li ng-show="item.Type == 'job'"><a tabindex="-1" href="javascript:void(0);" ng-click="jobDetail(item.id,item.props.name)"><span class="fa fa-edit"></span> EDIT</a></li>
    <li ng-show="item.Type == 'rule'"><a tabindex="-1" href="javascript:void(0);" ng-click="ruleDetail(item.id,item.props.name)"><span class="fa fa-edit"></span> EDIT</a></li>

    <li ng-show="item.Type == 'job'"><a tabindex="-1" href="javascript:void(0);" ng-click="runJob(item.id)"><span class="fa fa-play"></span> RUN</a></li>
    <li ng-show="item.Type == 'rule'"><a tabindex="-1" href="javascript:void(0);" ng-click="runRule(item.id)"><span class="fa fa-play"></span> RUN</a></li>
    <li ng-show="item.Type == 'job'"><a tabindex="-1" href="javascript:void(0);" ng-click="schedule(item)"><span class="fa fa-calendar-times-o"></span> SCHEDULE</a></li>
    <li ng-show="item.Type == 'rule'"><a tabindex="-1" href="javascript:void(0);" ng-click="schedule(item)"><span class="fa fa-calendar-times-o"></span> SCHEDULE</a></li>


    <li ng-show="item.Type == 'localparameter'"><a tabindex="-1" href="javascript:void(0);" ng-click="parameterDetail(item.id,item.props.name)"><span class="fa fa-edit"></span> EDIT</a></li>
    <li ng-show="item.Type == 'folder'"><a tabindex="-1" href="javascript:void(0);" ng-click="folderDetail(item.id,item.props.name)"><span class="fa fa-edit"></span> EDIT</a></li>

    <li ><a tabindex="-1" href="javascript:void(0);" ng-click="showDeletePopup(item)"><span class="fa fa-remove"></span> DELETE</a></li>
    <li ng-show="item.allowToSetRights"><a tabindex="-1" href="javascript:void(0);" ng-click="showRightsPopup(item,$index)"><span class="fa fa-eye-slash"></span> RIGHTS</a></li>
    <li ng-show="item.allowToSetRights"><a tabindex="-1" href="javascript:void(0);" ng-click="showOwnerPopup(item,$index)"><span class="fa fa-male"></span> OWNER</a></li>
</ul>