﻿<div class="summary-boxes" ng-show="showPage">
    <!--<div class="text-center">
        <h3 style="color:#000;"><b>INTELLIGENT CONSISTENCY CHECKER</b></h3>
    </div>
    <br />-->



    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-sm-10 col-sm-offset-1">
            <div class="row ">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">HELP</div>
                        <div class="panel-body helpcontainer" style="height:180px;">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-xs-6">
                                    <div class="boxlink">
                                        <div>
                                            <img src="/images/startguide_50.png" class="pull-left" />
                                            <p><a>Quick Start</a></p>
                                            <span class="clearfix"></span>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 ">
                                    <div class="boxlink">
                                        <div>
                                            <img src="/images/help_50.png?v=12" class="pull-left " />
                                            <p><a>Help</a></p>
                                            <span class="clearfix"></span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-xs-6">
                                    <div class="boxlink">
                                        <div>
                                            <img src="/images/support_50.png" class="pull-left" />
                                            <p><a>Support</a></p>
                                            <span class="clearfix"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 ">
                                    <div class="boxlink">
                                        <div>
                                            <img src="/images/about_50.png" class="pull-left" />
                                            <p><a>About</a></p>
                                            <span class="clearfix"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">JOB SUMMARY</div>
                        <div class="panel-body">
                            <div>
                                <div class="panel-icon">
                                    <img src="/images/jobsummary_40.png" />
                                </div>
                                <div class="panel-rows">

                                    <div class="truncate summaryline">
                                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.

                                    </div>
                                    <div class="truncate summaryline">
                                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.

                                    </div>
                                    <div class="truncate summaryline">
                                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.

                                    </div>
                                    <div class="truncate summaryline">
                                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.

                                    </div>
                                    <div class="truncate summaryline">
                                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.

                                    </div>


                                </div>
                                <span class="clearfix"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="clearfix"></span>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">RECENT</div>
                        <div class="panel-body">
                            <div>
                                <div class="panel-icon">
                                    <img src="/images/recent_40.png" />
                                </div>
                                <div class="panel-rows">


                                    <div class="truncate summaryline">
                                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.

                                    </div>
                                    <div class="truncate summaryline">

                                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.

                                    </div><div class="truncate summaryline">
                                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.

                                    </div><div class="truncate summaryline">
                                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.

                                    </div><div class="truncate summaryline">
                                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.

                                    </div>

                                </div>
                                <span class="clearfix"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">NOTIFICATIONS</div>
                        <div class="panel-body">
                            <div>
                                <div class="panel-icon">
                                    <img src="/images/notification_40.png?v=12" />
                                </div>
                                <div class="panel-rows" id="notificationsPeeksPanel">
                                    <div ng-if="notifications.length == 0">You have no new notifications.</div>

                                    <div class="truncate summaryline" ng-repeat="notification in notifications">
                                        <a href="/#notifications">
                                            {{notification.subject}}
                                        </a>
                                    </div>
                                </div>
                                <span class="clearfix"></span>
                            </div>
                        </div>
                    </div>
                    <span class="clearfix"></span>
                </div>
            </div>
        </div>
    </div>
</div>