﻿
<div class="loginbox">
    <div class="headsection">
        <img class="pull-left mr10" height="40" src="../images/icc_logo_50.png"/>
        <div class="pull-left">
            <span>ICC</span><br />
            <span>Intelligent Consistency Checker</span>
        </div>
        <span class="clearfix"></span>
    </div>

    <form role="form" class="col-lg-12" ng-enter="login()">

        <div class="form-group">
            <label class="control-label">Username</label>
            <input type="text" ng-disabled="disableToLogin" class="form-control" ng-model="username" placeholder="Username" >
        </div>
        <div class="form-group">
            <label class="control-label">Password</label>
            <input type="password"  ng-disabled="disableToLogin" class="form-control" ng-model="password" placeholder="Password">
        </div>

        <div class="alert alert-danger" ng-show="error != undefined">
            <span>{{error}}</span>
        </div>

        <button href="javascript:void(0);"  ng-disabled="disableToLogin" class="btn btn-default" ng-click="login()">Login</button>
    </form>

   
    <div class="modal fade" id="noLicencePopup" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>No licence found.</p>
                    <p>Please enter your licence key to start using ICC</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="disableLoginForm()" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="showEnterLicencePopup()">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="enterLicenceKeyPopup" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title truncate">License</h4>
                </div>
                <div class="modal-body">
  
                    <div class="form-group">
                        <textarea class="form-control" rows="16" ng-model="licenceKey" placeholder="Enter License Key"></textarea>
                    </div>

                    <div class="alert alert-danger" ng-show="licenceError != undefined" style="margin-bottom:0px !important;">
                        <span>{{licenceError}}</span>
                    </div>

                     <div class="alert alert-success" ng-show="licenceSuccess != undefined" style="margin-bottom:0px !important;">
                        <span>{{licenceSuccess}}</span>
                    </div>

                </div>
                <div class="modal-footer" >
                    <button type="button" ng-disabled="licenceKey == '' || licenceKey == undefined" class="btn btn-primary" ng-click="saveLicenceKey(licenceKey)">SAVE</button>
                </div>
            </div>
        </div>
    </div>

    <span class="clearfix"></span>
</div>