﻿<div id="content_newjob">

    <h1 class="page-header" ng-show="editmode==false">CREATE NEW JOB</h1>

    <h1 class="page-header" ng-show="editmode==true">EDIT JOB</h1>
    <div>


        <div class="wizard-steps">

            <div class="row">

                <div class="col-lg-1 col-sm-2 col-xs-2">
                    <a class="btn btn-default next {{currentStep == 1 ? 'hidden' : ''}}" ng-click="prevStep();">&lt; BACK</a>
                </div>
                <div class="col-lg-10 col-sm-8 col-xs-8">

                    <div class="stepwizard">
                        <div class="stepwizard-row">

                            <div class="stepwizard-step {{currentStep > 1 ? 'completed' : 'current' }}">
                                <span class="btn btn-default">
                                    <span class="fa fa-gear"></span>
                                    <span class="fa fa-check"></span>
                                </span>
                                <p>BASIC INFORMATION</p>
                            </div>
                            <div class="stepwizard-step {{currentStep > 2 ? 'completed' :  currentStep == 2  ? 'current' : ''}}">
                                <span class="btn btn-default">
                                    <span class="fa fa-pencil"></span>
                                    <span class="fa fa-check"></span>
                                </span>
                                <p>TEMPLATES &amp; VARIABLES</p>
                            </div>
                            <div class="stepwizard-step {{currentStep > 3 ? 'completed' : currentStep == 3 ? 'current' : ''}}">
                                <span class="btn btn-default">
                                    <span class="fa fa-flash"></span>
                                    <span class="fa fa-check"></span>
                                </span>
                                <p>COMPLETE</p>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="col-lg-1 col-sm-2 col-xs-2">
                    <a class="btn btn-default next {{currentStep == 3 || currentStep == 4 ? 'hidden' : ''}}" ng-click="nextStep();">NEXT &gt;</a>
                </div>
            </div>
        </div>
    </div>


    <div id="create_job_step1" ng-show="currentStep==1">

        <div class="row">

            <div class="col-lg-4 col-lg-offset-2">

                <div class="form-group">
                    <label class="control-label" for="job_name">NAME</label>
                    <input type="text" class="form-control" id="job_name" ng-model="job.props.name" placeholder="Write a job name">
                </div>
                <div class="form-group">
                    <label class="control-label" for="job_name">DESCRIPTION</label>
                    <textarea class="form-control" id="job_name" placeholder="Write a job description" ng-model="job.props.description" rows="10"></textarea>
                </div>
            </div>
        </div>

    </div>



    <div id="create_job_step2" ng-show="currentStep==2">


        <div class="row">

            <div class="col-lg-4 col-lg-offset-2">

                <div class="form-group">
                    <label class="control-label">TEMPLATE</label>
                    <select class="form-control" ng-disabled="job.id != undefined && job.id != ''" ng-model="job.template" ng-init="job.template='';" ng-change="getVariables(job.template)">
                        <option value="">Select a template</option>
                        <option ng-repeat="template in templates" value="{{template.id}}" title="{{template.description}}">{{template.name}}</option>
                    </select>
                </div>

            </div>
            <div class="col-lg-4" ng-show="variableDefinations.length > 0">
                <div>
                    <div>
                        <label class="control-label" for="job_name">VARIABLES</label>

                        <div class="variables_box">

                            <div ng-repeat="variable in variableDefinations | orderBy:'position'">

                                <span ng-init="job.variables[$index].definition = variable.id;"></span>
                                <span ng-init="job.variables[$index].id = '';"></span>
                                
                                <div class="form-group" ng-show="variable.type=='Standard'">
                                    <label class="control-label">{{variable.props.name}}</label>
                                    <input type="text" class="form-control" ng-model="job.variables[$index].value" ng-required="variable.required" placeholder="Enter the value for variable">
                                    <hr />
                                </div>

                                <div class="form-group" ng-if="variable.type=='Connection'">

                                    <label class="control-label">{{variable.props.name}}</label>
                                    <select class="form-control" ng-model="job.variables[$index].value" ng-required="variable.required" ng-change="storeConnectionId(job.variables[$index].value)">
                                        <option value="">Select a connection</option>
                                        <option value="{{connection.id}}" ng-repeat="connection in connections">{{connection.props.name}}</option>
                                    </select>
                                    <hr />
                                </div>

                                <div class="form-group" ng-if="variable.type=='Boolean'">

                                    <label class="control-label">{{variable.props.name}}</label>
                                    <select class="form-control" ng-model="job.variables[$index].value" ng-init="job.variables[$index].value = ''" ng-required="variable.required">
                                        <option value="">Select a boolean value</option>
                                        <option value="true">True</option>
                                        <option value="false">False</option>
                                    </select>
                                    <hr />
                                </div>

                                <div class="form-group" ng-if="variable.type=='SQL'">
                                    <label class="control-label">{{variable.props.name}}</label>
                                    <code style="display:block;" ng-show="striptedSql.length > 0" class="lang-sql sqleditor">{{striptedSql}}</code>

                                    <a class="btn btn-block btn-primary" data-toggle="modal" data-target="#sql_modal">OPEN SQL EDITOR</a>
                                    <hr />
                                </div>

                                <div class="form-group" ng-if="variable.type=='Dataset'">
                                    <label class="control-label">{{variable.props.name}}</label>

                                    <div class="whitebox">

                                        <span class="vert-label" ng-if="job.variables[$index].jobName == '' || job.variables[$index].jobName == undefined"> Select a job</span>
                                        <span class="vert-label" ng-if="job.variables[$index].jobName != undefined">{{job.variables[$index].jobName}}</span>
                                        <a class="btn btn-danger btn-sm pull-right vmiddle ml8" ng-if="job.variables[$index].jobName != undefined" ng-click="clearSelectedJob($index)">Clear</a>
                                        <a class="btn btn-primary btn-sm pull-right vmiddle" ng-click="findAJob($index)">Select</a>
                                   
                                        <span class="clearfix"></span>
                                    </div>
                                    <hr />
                                </div>

                                <div class="form-group" ng-if="variable.type=='List'">

                                    <label class="control-label">{{variable.props.name}}</label>
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-repeat="data in list">
                                            <a href="javascript:void(0);" ng-click="selectListItem(variable.id,data)"><span class="fa {{data.selected ? 'fa-check-circle':'fa-circle-thin'}}"></span>{{data.data}}</a>
                                        </li>
                                    </ul>
                                    <hr />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="create_job_step3" ng-show="currentStep==3 || currentStep == 4">


        <div class="row">


            <div class="col-lg-4 col-lg-offset-2">
                <div class="form-group">
                    <label class="control-label">JOB STATUS</label>
                    <select class="form-control" ng-model="job.props.active">
                        <option value="">Select job status</option>
                        <option value="true">Active</option>
                        <option value="false">Passive</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label">PRIORITY</label>
                    <select class="form-control" ng-model="job.priority">
                        <option value="Low">Low</option>
                        <option value="Normal">Normal</option>
                        <option value="High">High</option>
                    </select>
                </div>

                <div class="form-group">
                    <div>
                        <a class="btn btn-primary btn-block" ng-click="saveJob()">SAVE</a>
                    </div>
                </div>

            </div>

        </div>


        <div class="row" ng-show="jobEdited == true">
            <div class="col-lg-2"></div>
            <div class="col-lg-4"><div class="alert alert-success">The job has been updated successfully.</div></div>
        </div>

    </div>



    <div class="modal fade" id="sql_modal" tabindex="-1" role="dialog" aria-labelledby="sql_modal-label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeSqlPopup();">&times;</button>
                    <h4 class="modal-title" id="sql_modal-label">SQL DESIGN</h4>
                </div>
                <div class="modal-body">

                    <div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div>
                                    <div class="form-group">
                                        <label class="control-label redlabel">SQL QUERY</label>
                                        <textarea style="display:block; max-width: 838px;" class="form-control sqleditor lang-sql" rows="5" placeholder="Write your query here" ng-model="sql" spellcheck="false"></textarea>

                                        <div class="row">
                                            <div class="col-lg-2">
                                                <div>
                                                    <a class="btn btn-default" href="javascript:void(0);" ng-click="getSqlResults()"><i class="fa fa-exclamation"></i> GET DATA</a>
                                                </div>
                                            </div>
                                            <div class="col-lg-10">
                                                <div class="alert alert-danger text-left" ng-show="notifyError != undefined" style="margin-bottom:0 !important;">
                                                    <p>{{notifyError}}</p>
                                                </div>
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12" ng-show="sqlColumns.length > 0">
                                <br />
                                <div class="form-group">
                                    <label class="control-label redlabel">DATA</label>
                                    <div class="table-responsive">
                                        <table class="table table-bordered small table-reset">
                                            <thead>
                                                <tr>
                                                    <th ng-repeat="column in sqlColumns track by $index">{{column}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="row in sqlRows track by $index">
                                                    <td ng-repeat="cell in row track by $index">{{cell}}<br /></td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>

                                </div>


                            </div>

                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeSqlPopup();">CANCEL</button>
                    <button type="button" class="btn btn-primary" ng-click="getSqlVariableList()">SAVE</button>
                </div>
            </div>
        </div>
    </div>




    <div class="modal fade" id="selectJobPopup" tabindex="-1" role="dialog" aria-labelledby="sql_modal-label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Select Job</h4>
                </div>
                <div class="modal-body">

                    <div>
                        <div class="col-lg-3 col-sm-3 col-xs-3">
                            <script type="text/ng-template" id="job_tree_item_renderer.html">
                                <div class="arrowed-box {{activeFolderId == folder.id ? 'active': ''}}">
                                    <a href="javascript:void(0);" data-expand-button="job" data-expand="{{folder.id}}" class="arrow-mark" ng-show="folder.hasChildFolders == true || folder.folders.length > 0" ng-click="viewSubFolders(folder)">
                                        <span class="fa fa-caret-down" style="display:none;"></span>
                                        <span class="fa fa-caret-right"></span>
                                    </a>
                                    <a ng-click="viewJobs(folder.id)" class="item" href="javascript:void(0);"><i class="fa fa-folder"></i> {{folder.props.name}}</a>
                                    <span class="clearfix"></span>
                                </div>
                                <ul style="display:none;">
                                    <li ng-repeat="folder in folder.folders" ng-include="'job_tree_item_renderer.html'"></li>
                                </ul>
                            </script>

                            <ul class="nav-ul" id="scrollable_treeview">
                                <li>
                                    <a ng-click="viewJobs(0)" class="item {{activeFolderId == 0 ? 'active': ''}}" href="javascript:void(0);">
                                        <i class="fa fa-folder"></i> Home
                                    </a>
                                </li>
                                <li ng-repeat="folder in menuFolders" ng-include="'job_tree_item_renderer.html'"></li>
                            </ul>
                        </div>
                        <div class="col-lg-9 col-sm-9 col-xs-9">
                            <table class="table table-hover ml-15">
                                <thead>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th> Name</th>
                                        <th> Last Modified</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-center" ng-show="popupDataLoading==true">
                                        <td colspan="3" class="text-center" style="font-size: 16px;"><i class="fa fa-circle-o-notch fa-spin"></i>Loading...</td>
                                    </tr>
                                    <tr ng-repeat="item in jobs" ng-dblclick="selectAndSaveJob(item)" ng-click="selectJob(item)" class="back " title="{{item.props.description}}">
                                        <td><div class="{{item.props.active ? 'active' : 'pasive'}}"></div></td>
                                        <td class="ellipsis {{item.selected ? 'bgf5' : ''}}">
                                            <span class="icc-{{item.Type}}"></span>
                                            <span>{{item.props.name}}</span>
                                        </td>
                                        <td class="{{item.selected ? 'bgf5' : ''}}">{{item.props.modificationDate | date:'MMMM dd, yyyy hh:mm a'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <span class="clearfix"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
                    <button type="button" class="btn btn-primary" ng-disabled="selectedJob == undefined" ng-click="saveJobSelection()">SELECT</button>
                </div>
            </div>
        </div>
    </div>


</div>