﻿<ul id="contextMenu" class="dropdown-menu contextmenu" role="menu" oncontextmenu="return false;">
    <li><a tabindex="-1" href="javascript:void(0);" ng-click="clearAllNotifications()"><span class="fa fa-remove"></span> CLEAR ALL</a></li>
</ul>