﻿
<div class="help-page">

    <div class="help-left">
        <help-left-menu page-name="administration" />
    </div>

    <div class="help-right">

        <div>

            <h3 data-node="section">ADMINISTRATION</h3>
        </div>


    </div>
    <span class="clearfix"></span>
</div>
