﻿<div class="helpmain">
    <h2>ICC HELP</h2>

    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <a href="#/help/overview">
                        <img src="/images/icc_logo_50.png" />
                        <span class="block">Overview</span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <a href="#/help/account">
                        <img src="/images/user_icon50.png" />
                        <span class="block">Account</span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <a href="#/help/icc_basics">
                        <img src="/images/icc_basics_icon50.png" />
                        <span class="block">ICC Basics</span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <a href="#/help/job_templates">
                        <img src="/images/icc_job_templates50.png" />
                        <span class="block">Job Templates</span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <a href="#/help/rule">
                        <img src="/images/icc_rule50.png" />
                        <span class="block">Rule</span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <a href="#/help/administration">
                        <img src="/images/icc_administration50.png" />
                        <span class="block">Administration</span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <a href="#/help/operations">
                        <img src="/images/operations_icon50.png" />
                        <span class="block">Operations</span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <a href="#/help/reports">
                        <img src="/images/icc_reports50.png" />
                        <span class="block">Reports</span>
                    </a>
                </div>
            </div>
        </div>
    </div>


</div>