﻿<!DOCTYPE html>
<html ng-app="iccApp" oncontextmenu="return false;">
<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico"> 
    <link href="styles/bootstrap.css" rel="stylesheet" />
    <link href="styles/datetimepicker.css" rel="stylesheet" />
    <link href="styles/font-awesome.css" rel="stylesheet" />
    <link href="styles/lena.common.css" rel="stylesheet" />
    <link href="styles/lena.material.css" rel="stylesheet" />
    <link href="styles/styles.css?v=1.0.52" rel="stylesheet" />
    <link href="styles/sqlcolor.css" rel="stylesheet" />

</head>
<body>

    

    <nav id="mainNavBar" class="navbar navbar-inverse navbar-fixed-top" ng-controller="subHeaderController" style="display:none;">
        <div class="container-fluid">
            <div class="navbar-header">

                <a class="navbar-brand" href="#/"><img src="images/icc_logo_50.png" class="img-responsive" /></a>
                <div id="brand-name">ICC<br />Intelligent Consistency Checker</div>
            </div>
            <div id="navbar" class="navbar-collapse">

                <div class="pull-right">
                    <ul class="nav navbar-nav navbar-right" id="userNav">
                        <li style="padding-top:5px;line-height:15px; padding-right:5px; color:#eaeaea;">
                            <span>{{logginedUser.props.name}}</span><br /><span>{{logginedUser.firstName}} {{logginedUser.lastName}}</span>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <span class="icc-user"></span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#/settings">Settings</a></li>
                                <li><a href="#/help">Help</a></li>
                                <li><a href="javascript:void(0);" ng-click="showLicence()">License</a></li>
                                <li><a href="javascript:void(0);" ng-click="logout()">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div>
            <div class="alert alert-danger notify" ng-if="notifyErrorMessage != undefined">
                <button type="button" class="close" ng-click="closeNotifyError()">&times;</button>
                <span>{{notifyErrorMessage}}</span>
            </div>

            <div class="container-fluid" id="subnavbar" style="display:none;">
                <div class="navbar-collapse">
                    <ul class="breadcrumb pull-left">
                        <li ng-repeat="item in $root.breadcrumb">
                            <a title="{{item.text}}" href="{{item.link}}">{{item.text}}</a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right pull-right">

                        <li ng-show="controllerName=='usersController'"><a href="#/newuser"><span class="fa fa-plus"></span> New User </a></li>
                        <li ng-show="controllerName=='connectionsController'"><a href="#/newconnection"><span class="fa fa-plus"></span> New Connection </a></li>
                        <li ng-show="controllerName=='globalParametersController'"><a href="#/newglobalparameter"><span class="fa fa-plus"></span> New Parameter </a></li>
                        <li ng-show="controllerName=='rolesController'"><a href="#/newrole"><span class="fa fa-plus"></span> New Role </a></li>

                        <li class="dropdown" ng-show="controllerName=='explorerController'">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true"><span class="fa fa-plus"></span> New Item <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-show="folderId.length > 0"><a href="#/newfolder/{{folderId}}">Folder</a></li>
                                <li ng-show="folderId.length == 0"><a href="#/newfolder">Folder</a></li>

                                <li ng-show="folderId.length > 0"><a href="#/newjob/{{folderId}}">Job</a></li>
                                <li ng-show="folderId.length == 0"><a href="#/newjob">Job</a></li>

                                <li ng-show="folderId.length > 0"><a href="#/newlocalparameter/{{folderId}}">Parameter</a></li>
                                <li ng-show="folderId.length == 0"><a href="#/newlocalparameter">Parameter</a></li>

                                <li ng-show="folderId.length > 0"><a href="#/newrule/{{folderId}}">Rule</a></li>
                                <li ng-show="folderId.length == 0"><a href="#/newrule">Rule</a></li>
                            </ul>
                        </li>

                        <li ng-show="showDetailButton == true"><a id="toggleDetailBoxButton" href="javascript:void(0);" ng-click="showPageDetail()"><span class="fa fa-info-circle"></span></a></li>

                    </ul>
                </div>

                
            </div>
        </div>
     
      
    </nav>



    <div class="container-fluid" id="mainContentWrapper">

        <div class="row">

           

            <div class="col-lg-2 col-sm-2 col-xs-2 sidebar  {{notifyErrorMessage != undefined ? 'open-notify' : ''}}" id="menuBox" style="display:none;" ng-controller="menuController">
                <ul class="nav nav-sidebar">

                    <li id="scrollable_folders">

                        <span class="arrowed-box" ng-if="showExplorerMenuItem == true">
                            <a href="javascript:void(0);" class="arrow-mark" ng-show="folders.length > 0" style="display:inline;" onclick="$(this).parents('li').find('ul:first').toggle(); $(this).parent().find('span').toggle(); handleTreeViewScroll();"><span class="fa fa-caret-down" style="display:none;"></span><span class="fa fa-caret-right"></span></a>
                            <a href="#/explorer" class="item">EXPLORER</a>
                            <span class="clearfix"></span>
                        </span>
                        <script type="text/ng-template" id="explorer_tree_item_renderer.html">
                            <div class="arrowed-box">
                                <a href="javascript:void(0);" extend-button="explorer" data-extend="{{folder.id}}" class="arrow-mark" ng-show="folder.hasChildFolders == true || folder.folders.length > 0" ng-click="viewSubFolders(folder)" ">
                                    <span class="fa fa-caret-down" style="display:none;"></span>
                                    <span class="fa fa-caret-right"></span>
                                </a>
                                <a ng-click="viewFolder(folder)" class="item" data-href="#/explorer/{{folder.id}}"><i class="fa fa-folder"></i> {{folder.props.name}}</a>
                                <span class="clearfix"></span>
                            </div>
                            <ul style="display:none;">
                                <li ng-repeat="folder in folder.folders" ng-include="'explorer_tree_item_renderer.html'"></li>
                            </ul>
                        </script>

                        <ul style="display:none;">
                            <li ng-repeat="folder in folders" ng-include="'explorer_tree_item_renderer.html'"></li>
                        </ul>
                    </li>

                    <li ng-repeat="item in menuItems"><a href="{{item.link}}">{{item.text.toUpperCase()}} <span class="badge " ng-if="item.count > 0">{{item.count}}</span></a></li>
                </ul>

                <span id="appVersionBox" style="cursor:default; white-space: pre;">{{version}}</span>

                <div id="newNotificationAlert" class="alert alert-success" ng-if="(newNotifications != null || newNotifications != undefined) && activePage != 'notifications' && activePage != 'monitoring'">
                    <a href="javascript:void(0);" class="close" ng-click="closeNewNotifications()" aria-label="close">&times;</a>

                    <a href="/#notifications">
                        <div ng-if="newNotificationCount == 1">
                            <span>{{newNotifications[0].subject}}</span>

                        </div>
                        <div ng-if="newNotificationCount > 1">
                            <span>You have {{newNotificationCount}} new notifications.</span>
                        </div>
                    </a>
                </div>

            </div>
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-xs-10 col-sm-offset-2 main col-xs-offset-2" id="mainBox">
                <div ng-view></div>
            </div>

            <div class="col-lg-2 col-md-2 detailbar hidden-xs hidden-sm" id="detailBox" ng-controller="detailBarController" style="display:none;">

                <div>
                    <!--<div>
                    <a class="close pull-right" href="javascript:void(0);" id="closeDetailBarButton">&times;</a>
                    <span class="clearfix"></span>
                </div>-->

                    <div>
                        <div class="row">
                            <ul class="nav nav-tabs nav-justified">
                                <li class="active"><a href="javascript:void(0);">DETAILS</a></li>
                            </ul>
                        </div>

                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active in">
                                <div ng-show="props != null">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label class="col-sm-5 control-label">Name</label>
                                            <div class="col-sm-7">
                                                <p class="form-control-static" style="word-break: break-all;">{{props.name}}</p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5 control-label">Description</label>
                                            <div class="col-sm-7">
                                                <div class="form-control-static" style="word-break: break-all;">
                                                    <span ng-show="props.description.length > 0">{{props.description}}</span>
                                                    <span ng-hide="props.description.length > 0">-</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5 control-label">Creation Date</label>
                                            <div class="col-sm-7">
                                                <div class="form-control-static">{{props.creationDate  |  date:'MMMM dd, yyyy hh:mm a'}}</div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5 control-label">Created By</label>
                                            <div class="col-sm-7">
                                                <div class="form-control-static truncate">
                                                    {{props.createdByUser.firstName}}
                                                    <br />
                                                    {{props.createdByUser.lastName}}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5 control-label">Modification Date</label>
                                            <div class="col-sm-7">
                                                <div class="form-control-static">{{props.modificationDate  |  date:'MMMM dd, yyyy hh:mm a'}}</div>
                                            </div>
                                        </div>

                                        <div class="form-group" ng-hide="props.type == 'explorer'">
                                            <label class="col-sm-5 control-label ">Modified By</label>
                                            <div class="col-sm-7">
                                                <div class="form-control-static truncate">{{props.modifiedByUser.firstName}} {{props.modifiedByUser.lastName}}</div>
                                            </div>
                                        </div>


                                        <div class="form-group" ng-show="props.type == 'explorer'">
                                            <label class="col-sm-5 control-label ">Owner</label>
                                            <div class="col-sm-7">
                                                <div class="form-control-static truncate">
                                                    {{props.rights.user.firstName}}
                                                    <br />
                                                    {{props.rights.user.lastName}}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5 control-label">Status</label>
                                            <div class="col-sm-7">
                                                <div class="form-control-static" ng-if="props.active">Active</div>
                                                <div class="form-control-static" ng-if="props.active == false">Passive</div>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                                <div ng-show="props == null">
                                    <p>Select a file or folder to view its details.</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="activitiesTab">
                                <p>There is no activity here.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="licencePopup" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title truncate">License</h4>
                        </div>
                        <div class="modal-body">
                            <p>{{logginedUser.licence}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="scripts/components/jquery-2.2.0.js"></script>
    <script src="scripts/components/jquery-ui.js"></script>
    <script src="scripts/components/highlight.pack.js"></script>
    <script src="scripts/components/bootstrap.js"></script>
    <script src="scripts/components/lenaDiagram.js"></script>


    <script src="scripts/scripts.js?v=1.0.52"></script>
    <script src="scripts/components/moment.min.js"></script>

    <script src="scripts/components/angular.js"></script>
    <script src="scripts/components/angular-route.js"></script>
    <script src="scripts/components/angular-cookies.js"></script>
    <script src="scripts/components/angular-sanitize.js"></script>
    <script src="scripts/components/ngtimeago.js"></script>
    <script src="scripts/components/dateTimeInput.js"></script>
    <script src="scripts/components/bootstrap-datetimepicker.js"></script>
    <script src="scripts/components/angucomplete-alt.min.js"></script>
    <script src="scripts/components/ng-contextmenu.min.js"></script>

    <script src="scripts/app.js?v=1.0.52"></script>

    <script src="scripts/services/dataService.js?v=1.0.52"></script>
    <script src="scripts/services/bussinessService.js?v=1.0.52"></script>

    <script src="scripts/controllers/controllers.js?v=1.0.52"></script>

</body>
</html>
