﻿<div class="help-page">

    <div class="help-left">
        <help-left-menu page-name="account" />
    </div>

    <div class="help-right">

        <div>

            <h3>ACCOUNT</h3>

            <div>
                <h4 data-node="section">Settings</h4>
                <p>ICC is a web-base client-server application that offers automated data consistency contra web-base client-server application that offers automated data consistency control and monitoring between different data sources and systemol and monitoring between different data sources and systems.</p>


                <h4 data-node="section">Settings 2</h4>
                <p>ICC is a web-base client-server application that a web-base client-server application that offers automated data consistency control and monitoring between different data sources and systemoffers automated data consistency control and monitoring between different data sources and systems.</p>



                <h4 data-node="section">Settings 3</h4>
                <p>
                    ICC is a web-base client-server application that offers automated data consistency control and monitoring between different data sources and systems.a web-base client-server application that offers automated data consistency control and monitoring between different data sources and systema web-base client-server application that offers automated data consistency control and monitoring between different data sources and system
                </p>



                <h4 data-node="section">Settings 4</h4>
                <p>ICC is a web-base client-server application that offers automated data consistency control and monitoring between different data sources a web-base client-server application that offers automated data consistency control and monitoring between different data sources and systema web-base client-server application that offers automated data consistency control and monitoring between different data sources and systemand systems.</p>
                <p>ICC has four component; ICCWeb, ICC Services, ICC Engine and ICC Grid.  ICC users will access ICC web server using a modern web browser.  This server will service the ICC's user interface pages to the browser. Users will choose a function on these pages.  Function will be directed to the ICC services  by the client. ICC services will delegate rule execution to the ICC consistency engine. The engine will share workload between the ICC grid servers.</p>
                <p><img src="/images/help/overview/img01.png" /></p>


                <h4 data-node="section">Settings 5</h4>
                <p>ICC is a web-base client-serva web-base client-server application that offers automated data consistency control and monitoring between different data sources and systemer application that offers automated data consistency control and monitoring between different data sources and systems.</p>
                <p>ICC has four component; ICCWeb, ICC Services, ICC Engine and ICC Grid.  ICC users will access ICC web server using a modern web browser.  This server will service the ICC's user interface pages to the browser. Users will choose a function on these pages.  Function will be directed to the ICC services  by the client. ICC services will delegate rule execution to the ICC consistency engine. The engine will share workload between the ICC grid servers.</p>
                <p><img src="/images/help/overview/img01.png" /></p>


            </div>
        </div>


    </div>
    <span class="clearfix"></span>
</div>
