﻿<ul>
    <li class="main_node">
        <a  href="javascript:void(0);" data-pagename="overview">OVERVIEW</a>
        <ul class="group_subs">
            <li class="sub_node" ng-show="pageName=='overview'"><a href="javascript:void(0);" data-section="click">ICC Solutions</a></li>
            <li class="sub_node" ng-show="pageName=='overview'"><a href="javascript:void(0);" data-section="click">ICC Scope</a></li>
            <li class="sub_node" ng-show="pageName=='overview'"><a href="javascript:void(0);" data-section="click">ICC Architecture</a></li>
            <li class="sub_node" ng-show="pageName=='overview'"><a href="javascript:void(0);" data-section="click">Rule &amp; Job &amp; Template Relations</a></li>
        </ul>
    </li>


    <li class="main_node">
        <a  href="javascript:void(0);" data-pagename="account">ACCOUNT</a>
        <ul class="group_subs">
            <li class="sub_node" ng-show="pageName=='account'"><a href="javascript:void(0);" data-section="click">Settings</a></li>
            <li class="sub_node" ng-show="pageName=='account'"><a href="javascript:void(0);" data-section="click">Settings 2</a></li>
            <li class="sub_node" ng-show="pageName=='account'"><a href="javascript:void(0);" data-section="click">Settings 3</a></li>
            <li class="sub_node" ng-show="pageName=='account'"><a href="javascript:void(0);" data-section="click">Settings 4</a></li>
        </ul>
    </li>


    <li class="main_node">
        <a href="javascript:void(0);">ICC BASICS</a>
        <ul class="group_subs"></ul>
    </li>

    <li class="main_node">
        <a href="javascript:void(0);">JOB TEMPLATES</a>
        <ul class="group_subs"></ul>
    </li>
    <li class="main_node">
        <a href="javascript:void(0);">RULE</a>
        <ul class="group_subs"></ul>
    </li>
    <li class="main_node">
        <a href="javascript:void(0);">ADMINISTRATION</a>
        <ul class="group_subs"></ul>
    </li>
    <li class="main_node">
        <a href="javascript:void(0);">OPERATIONS</a>
        <ul class="group_subs"></ul>
    </li>
    <li class="main_node">
        <a href="javascript:void(0);">REPORTS</a>
        <ul class="group_subs"></ul>
    </li>
</ul>

<script>
    $(".help-left").css("height", $(window).height() + "px");

    var sectionNoQS = getQueryString("sectionNo");
    if (sectionNoQS != null && sectionNoQS != '') {
        scrollToSection(parseInt(sectionNoQS));
    } else {
        $('html, body').animate({
            scrollTop: 0
        }, 500);
    }

    setTimeout(function () { initSubMenuClicks(); }, 100);

    window.onhashchange = function () {
        initSubMenuClicks();
    }

    function initSubMenuClicks() {
        $("li.main_node a").unbind("click");
        $("li.main_node a").click(function (e) {
            $(this).parent().find('ul li').toggle().toggleClass("ng-hide");
        });

        $("li.sub_node a").unbind("click");
        $("li.sub_node a").click(function (e) {
            var order = $(this).parent().prevAll().length;
            var page = $(this).parents("li.main_node").first().find("a").first().data("pagename");
            //If page already loaded
            if (window.document.location.hash.indexOf("#/help/" + page) != -1 ) {
                scrollToSection(order);
            } else {
                console.log(window.document.location.hash);
                document.location.hash = "#/help/" + page + "?sectionNo=" + order;
            }
        });
    }

    function scrollToSection(sectionNo) {
        $('html, body').animate({
            scrollTop: $($("*[data-node=section]")[sectionNo]).offset().top - 120
        }, 500);
    }
</script>