﻿
<div id="content_explorer">
    <div class="table-responsive">
        <table class="table trclickable" data-right-click-target="contextMenu" >
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th >
                        Name
                        <a href="javascript:void(0);" class="sortbutton" ng-show="currentOrderProp == 'props.name'" ng-click="orderBy('props.name')">
                            <span ng-show="currentOrderBy == 'desc'" class="fa fa-arrow-down"></span>
                            <span ng-show="currentOrderBy == 'asc'" class="fa fa-arrow-up"></span>
                        </a>
                        <a href="javascript:void(0);" class="sortbutton" ng-show="currentOrderProp != 'props.name'" ng-click="orderBy('props.name')"><span class="fa fa-arrow-down"></span></a>
                    </th>
                    <th >
                        Modified By
                        <a href="javascript:void(0);" class="sortbutton" ng-show="currentOrderProp == 'props.modifiedByUser.firstName'" ng-click="orderBy('props.modifiedByUser.firstName')">
                            <span ng-show="currentOrderBy == 'desc'" class="fa fa-arrow-down"></span>
                            <span ng-show="currentOrderBy == 'asc'" class="fa fa-arrow-up"></span>
                        </a>
                        <a href="javascript:void(0);" class="sortbutton" ng-show="currentOrderProp != 'props.modifiedByUser.firstName'" ng-click="orderBy('props.modifiedByUser.firstName')"><span class="fa fa-arrow-down"></span></a>
                    </th>
                    <th >
                        Last Modified
                        <a href="javascript:void(0);" class="sortbutton" ng-show="currentOrderProp == 'props.modificationDate'" ng-click="orderBy('props.modificationDate')">
                            <span ng-show="currentOrderBy == 'desc'" class="fa fa-arrow-down"></span>
                            <span ng-show="currentOrderBy == 'asc'" class="fa fa-arrow-up"></span>
                        </a>
                        <a href="javascript:void(0);" class="sortbutton" ng-show="currentOrderProp != 'props.modificationDate'" ng-click="orderBy('props.modificationDate')"><span class="fa fa-arrow-down"></span></a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                   <td colspan="4" class="text-center" style="font-size: 16px;" ng-show="loading==true"><i class="fa fa-circle-o-notch fa-spin"></i>Loading...</td>
                </tr>
                <tr ng-repeat="item in explorer" class="{{item.selected == true ? 'selected' : ''}}" ng-dblclick="viewItemDetail(item.id,item.props.name, item.Type)" ng-click="selectItem(item,$index)" ng-right-click="selectItem(item,$index)" data-context-event="contextmenu" data-context-menu="views/contextmenu.html?v=1.0.34">
           
                    <td><div class="{{item.props.active ? 'active' : 'pasive'}}"></div></td>
                    <td class="ellipsis" title="{{item.props.name}}">
                  
                        <span class="icc-{{item.Type}}"></span>
                        <span>{{item.props.name}}</span>
                    </td>
                    <td class="ellipsis">{{item.props.modifiedByUser.firstName}} {{item.props.modifiedByUser.lastName}}</td>
                    <td>{{item.props.modificationDate |  date:'MMMM dd, yyyy hh:mm a'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<div class="modal fade" id="deletePopup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title truncate">Are you sure you want to delete {{deleteObject.props.name.cutText(30)}}?</h4>
            </div>
            <div class="modal-footer">

                <div class="alert alert-danger text-left" ng-show="notifyError != undefined">
                    <p>{{notifyError}}</p>
                </div>

                <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
                <button type="button" class="btn btn-primary" ng-click="delete()">YES</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade modal-" id="rightsPopup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeRightsPopup()">&times;</button>
                <h4 class="modal-title truncate"><span class="icc-{{rightsObject.Type}}"></span> <span>{{rightsObject.props.name.cutText(45)}}</span> Rights</h4>
            </div>
            <div class="modal-body">

                <table class="table">
                    <thead>
                        <tr>
                            <th><span>Role rights</span></th>
                            <th><span>Read</span></th>
                            <th><span>Write</span></th>
                            <th><span>Execute</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="role in roles" style="cursor: default;">
                            <td class="truncate-maxwidth">{{role.props.name}}</td>
                            <td>
                                <div class="checkbox">
                                    <input type="checkbox" ng-disabled="rightsObject.rights.inheritsFromParent" ng-model="role.roleReadRight" ng-checked="role.roleReadRight == 1" ng-true-value="1" ng-false-value="-1" ng-change="toggleRoleRight(role.id,role.roleReadRight)">
                                </div>
                            </td>
                            <td>
                                <div class="checkbox">
                                    <input type="checkbox" ng-disabled="rightsObject.rights.inheritsFromParent" ng-model="role.roleWriteRight" ng-true-value="2" ng-false-value="-2" ng-checked="role.roleWriteRight == 2" ng-change="toggleRoleRight(role.id,role.roleWriteRight)">
                                </div>
                            </td>
                            <td>
                                <div class="checkbox">
                                    <input type="checkbox" ng-disabled="rightsObject.rights.inheritsFromParent" ng-model="role.roleExecuteRight" ng-true-value="4" ng-false-value="-4" ng-checked="role.roleExecuteRight == 4" ng-change="toggleRoleRight(role.id,role.roleExecuteRight)">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

    
                <table class="table usersTable">
                    <thead>
                        <tr>
                            <th ><span>User rights</span></th>
                            <th><span>Read</span></th>
                            <th><span>Write</span></th>
                            <th><span>Execute</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in users" style="cursor: default;">
                            <td class="truncate-maxwidth">{{user.props.name}}</td>
                            <td>
                                <div class="checkbox">
                                        <input type="checkbox"  ng-disabled="rightsObject.rights.inheritsFromParent" ng-model="user.userReadRight" ng-checked="user.userReadRight == 1" ng-true-value="1" ng-false-value="-1" ng-change="toggleUserRight(user.id,user.userReadRight)">
                                </div>
                            </td>
                            <td>    
                                <div class="checkbox">
                                        <input type="checkbox" ng-disabled="rightsObject.rights.inheritsFromParent" ng-model="user.userWriteRight" ng-true-value="2" ng-false-value="-2" ng-checked="user.userWriteRight == 2" ng-change="toggleUserRight(user.id,user.userWriteRight)">
                                </div>
                            </td>
                            <td>
                                <div class="checkbox">
                                        <input type="checkbox" ng-disabled="rightsObject.rights.inheritsFromParent" ng-model="user.userExecuteRight" ng-true-value="4" ng-false-value="-4" ng-checked="user.userExecuteRight == 4" ng-change="toggleUserRight(user.id,user.userExecuteRight)">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">

                <div class="alert alert-danger text-left" ng-show="notifyError != undefined">
                    <p>{{notifyError}}</p>
                </div>

                <div class="checkbox-inline mr10">
                    <label>
                        <input type="checkbox" ng-model="rightsObject.rights.inheritsFromParent"> Inherit from parent
                    </label>
                </div>
                <button type="button" class="btn btn-primary" ng-click="saveObjectRights()">Save</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ownerPopup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title truncate"><span class="icc-{{ownerObject.Type}}"></span>  Change Owner of <span>{{ownerObject.props.name.cutText(45)}}</span></h4>
            </div>
            <div class="modal-body">
                <select class="form-control" ng-model="ownerObject.rights.owner">
                    <option ng-repeat="user in ownerUsers"  value="{{user.id}}">{{user.props.name}}</option>
                </select>
            </div>
            <div class="modal-footer">

                <div class="alert alert-danger text-left" ng-show="notifyError != undefined" >
                    <p>{{notifyError}}</p>
                </div>

                <button type="button" class="btn btn-primary" ng-click="changeOwner(newOwner)">Save</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="schedulePopup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title truncate"><span class="icc-{{scheduleObject.Type}}"></span>  Schedule <span>{{scheduleObject.props.name.cutText(45)}}</span></h4>

            </div>
            <div class="modal-body">
                <div class="form-horizontal">
   
                    <div class="form-group" style="padding-right: 20px; padding-left: 5px; position:relative;">
                        <input style="display:none;" type='text' id="scheduleDatePicker" class="form-control datepicker_textbox" placeholder="Select a scheduled date" ng-model="schedulePostData.firstRunDate" />
                    </div>
                    <br />
                    <div class="form-group">

                        <div class="col-lg-3">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="repeatEveryData" ng-change="schedulePostData.interval = repeatEveryData == true ? 'MONTHS' : 'NONE'; schedulePostData.period = undefined;"> <b>Repeat every</b>
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <input type="number" min="0" ng-disabled="!repeatEveryData" placeholder="Period" ng-model="schedulePostData.period" class="form-control" />
                        </div>

                        <div class="col-lg-4">
                            <select class="form-control" ng-disabled="!repeatEveryData" ng-model="schedulePostData.interval" ng-init="schedulePostData.interval = 'NONE'">
                                <option value="NONE">None</option>
                                <option value="MINUTES">Minutes</option>
                                <option value="HOURS">Hours</option>
                                <option value="DAYS">Days</option>
                                <option value="WEEKS">Weeks</option>
                                <option value="MONTHS">Months</option>
                            </select>
                        </div>

                    </div>

                </div>

                <div class="alert text-center" ng-show="scheduleProcessing == true" style="margin-bottom:0;">
                    <p><i class="fa fa-circle-o-notch fa-spin"></i> Processing...</p>
                </div>
  
                <div class="alert alert-success text-center" ng-show="scheduled == true" style="margin-bottom:0;">
                    <p ng-show="scheduleObject.Type == 'job'">Job has been scheduled.</p>
                    <p ng-show="scheduleObject.Type == 'rule'">Rule has been scheduled.</p>
                </div>

                <div class="alert alert-danger text-center" ng-show="scheduledError != undefined" style="margin-bottom:0;">
                    <p>Please pick a future date.</p>
                </div>
            </div>
            <div class="modal-footer" ng-show="scheduleProcessing == false && scheduled == false">

                <div class="alert alert-danger text-left" ng-show="notifyError != undefined">
                    <p>{{notifyError}}</p>
                </div>

                <button type="button" class="btn btn-primary" ng-disabled="((schedulePostData.period == 0 || schedulePostData.period == undefined || schedulePostData.interval == 'NONE' )  && repeatEveryData == true) || schedulePostData.firstRunDate == undefined" ng-click="saveSchedule()">Save</button>
            </div>
        </div>
    </div>
</div>