﻿<div id="new_local_parameter">

    <h1 class="page-header" ng-show="editmode==false">CREATE NEW GLOBAL PARAMETER</h1>
    <h1 class="page-header" ng-show="editmode==true">EDIT GLOBAL PARAMETER</h1>

    <div class="row">

        <div class="col-lg-5">



            <div class="form-horizontal">

                <!--<div class="form-group horizontal {{buttonClicked && globalparameter.props.name==undefined ? 'has-error'  : ''}}">-->
                <div class="form-group horizontal">
                    <label class="col-sm-2 control-label" for="parameter_name">NAME</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="parameter_name" ng-model="globalparameter.props.name" placeholder="Write a parameter name">
                        <!--<span class="control-label" ng-show="buttonClicked && globalparameter.props.name==undefined">Please write a global parameter name</span>-->
                    </div>
                </div>

                <div class="form-group horizontal">
                    <label class="col-sm-2 control-label" for="parameter_description">DESCRIPTION</label>

                    <div class="col-sm-8">
                        <textarea class="form-control" id="parameter_description" ng-model="globalparameter.props.description" placeholder="Write a parameter description" rows="10"></textarea>
                    </div>

                </div>

                <div class="form-group horizontal">
                    <label class="col-sm-2 control-label" for="parameter_expression">EXPRESSION</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="parameter_expression" placeholder="Write a parameter value" ng-model="globalparameter.value">
                    </div>
                </div>

                <div class="form-group horizontal">
                    <label class="col-sm-2 control-label" for="parameter_expression">STATUS</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="parameter_expression" ng-model="globalparameter.props.active">
                            <option value="true">Active</option>
                            <option value="false">Passive</option>
                        </select>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-2">
                        <a class="btn btn-block btn-primary {{loading ? 'disabled' : ''}}" ng-click="saveGlobalParameter()">
                            <span>SAVE</span>
                        </a>
                        <div ng-show="updated==true" class="alert alert-success" style="margin-top:15px;">The global parameter has been updated successfully.</div>
                    </div>
                </div>
            </div>


        </div>


    </div>

</div>