﻿<div id="content_newjob">

    <h1 class="page-header">{{pageHeader}}</h1>
    <div>
        <div class="wizard-steps">

            <div class="row">

                <div class="col-lg-1 col-sm-2 col-xs-2">
                    <button class="btn btn-default next {{currentStep == 1 ? 'hidden' : ''}}" ng-click="prevStep();">&lt; BACK</button>
                </div>
                <div class="col-lg-10 col-sm-8 col-xs-8">

                    <div class="stepwizard">
                        <div class="stepwizard-row">

                            <div class="stepwizard-step {{currentStep > 1 ? 'completed' : 'current' }}">
                                <span class="btn btn-default">
                                    <span class="fa fa-gear"></span>
                                    <span class="fa fa-check"></span>
                                </span>
                                <p>REPORT TYPE</p>
                            </div>
                            <div class="stepwizard-step {{currentStep > 2 ? 'completed' :  currentStep == 2  ? 'current' : ''}}">
                                <span class="btn btn-default">
                                    <span class="fa fa-pencil"></span>
                                    <span class="fa fa-check"></span>
                                </span>
                                <p>FILTERS</p>
                            </div>
                            <div class="stepwizard-step {{currentStep >= 3 ? 'completed' :  ''}}">
                                <span class="btn btn-default">
                                    <span class="fa fa-flash"></span>
                                    <span class="fa fa-check"></span>
                                </span>
                                <p>COMPLETE</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-1 col-sm-2 col-xs-2">
                    <button ng-disabled="disableNexButton" class="btn btn-default next {{currentStep == 2  || currentStep == 3 || currentStep == 4 ? 'hidden' : ''}}" ng-click="nextStep();">NEXT &gt;</button>
                   <!-- <a class="btn next btn-success btn-block excel  {{currentStep == 3 || currentStep == 4 ? '' : 'hidden'}}" href="javascript:void(0);"><i class="fa fa-file-excel-o"></i> EXCEL</a>-->
                </div>
            </div>
        </div>
    </div>


    <div id="create_job_step1" ng-show="currentStep==1">

        <div class="row">

            <div class="col-lg-4 col-lg-offset-2">

                <div class="form-group">
                    <label class="control-label" for="report_type">REPORT TYPE</label>
                    <select class="form-control" id="report_type" ng-model="reportType" ng-change="populateReportNames(reportType)">
                        <option value="">Please select a report type</option>
                        <option value="{{r.typeValue}}" ng-repeat="r in reports">{{r.typeText}}</option>
                    </select>
                </div>
                <div class="form-group" ng-if="reportNames.length > 0">
                    <label class="control-label" for="report_name">REPORT NAME</label>
                    <select class="form-control" id="report_name" ng-model="reportName" ng-change="saveReportName(reportName)">
                        <option value="{{name.value}}" ng-repeat="name in reportNames">{{name.text}}</option>
                    </select>
                </div>
            </div>
        </div>

    </div>


    <div id="create_job_step2" ng-show="currentStep==2">
        <div class="row">

            <div class="col-lg-4 col-lg-offset-2">

                <div ng-if="reportName == 'AuthorizationRoleUser'">
                    <div class="form-group">
                        <label class="control-label" for="report_name">ROLE NAME</label>
                        <div angucomplete-alt
                    
                             placeholder="Search roles"
                             pause="0"
                             selected-object="reportFilters.roleId"
                             local-data="allRoles"
                             search-fields="props.name"
                             title-field="props.name"
                             minlength="0"
                             input-class="form-control"
                             auto-match="true"
                             template-url="/autcomplete_template.html">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="reportFilters.includePassive"> Include Passive Users
                            </label>
                        </div>
                    </div>
                    <div class="form-group">

                        <button ng-click="nextStep();" class="btn btn-primary btn-sm pull-right">Report</button>
                        <button ng-click="clearFilters()" class="btn btn-default btn-sm pull-right mr10">Clear</button>
                        <span class="clearfix"></span>
                    </div>
                </div>

                <div ng-if="reportName == 'AuthorizationUserRole'">
                    <div class="form-group">
                        <label class="control-label" for="report_name">USER NAME</label>
                        <div angucomplete-alt
                  
                             placeholder="Search users"
                             pause="0"
                             selected-object="reportFilters.userId"
                             local-data="allUsers"
                             search-fields="props.name"
                             title-field="props.name"
                             minlength="0"
                             input-class="form-control"
                             auto-match="true"
                             template-url="/autcomplete_template.html">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"  ng-model="reportFilters.includePassive"> Include Passive Roles
                            </label>
                        </div>
                    </div>
                    <div class="form-group">

                        <button ng-click="nextStep();" class="btn btn-primary btn-sm pull-right">Report</button>
                        <button ng-click="clearFilters()" class="btn btn-default btn-sm pull-right mr10">Clear</button>
                        <span class="clearfix"></span>
                    </div>
                </div>

                <div ng-if="reportName == 'AuthorizationRoleObject'">
                    <div class="form-group">
                        <label class="control-label" for="report_name">ROLE NAME</label>
                        <div angucomplete-alt
            
                             placeholder="Search roles"
                             pause="0"
                             selected-object="reportFilters.roleId"
                             local-data="allRoles"
                             search-fields="props.name"
                             title-field="props.name"
                             minlength="0"
                             input-class="form-control"
                             auto-match="true"
                             template-url="/autcomplete_template.html">
                        </div>
                    </div>
                  
                 
                    <div class="form-group">

                        <label class="control-label" for="report_name">RIGHTS</label>
                        <table class="table" id="rightsTable">
                            <thead>
                                <tr>
                                    <th><span>Read</span></th>
                                    <th><span>Write</span></th>
                                    <th><span>Execute</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="cursor: default;">
                                    <td>
                                        <div class="checkbox">
                                            <input type="checkbox" ng-model="readRight" ng-true-value="1" ng-false-value="-1" ng-change="calculateRWXValue(readRight)">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <input type="checkbox" ng-model="writeRight" ng-true-value="2" ng-false-value="-2"  ng-change="calculateRWXValue(writeRight)">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <input type="checkbox" ng-model="executeRight" ng-true-value="4" ng-false-value="-4" ng-change="calculateRWXValue(executeRight)">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                   
                    <br />
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="reportFilters.includePassive"> Include Passive Objects
                            </label>
                        </div>
                    </div>
                    <div class="form-group">

                        <button ng-click="nextStep();" class="btn btn-primary btn-sm pull-right">Report</button>
                        <button ng-click="clearFilters()" class="btn btn-default btn-sm pull-right mr10">Clear</button>
                        <span class="clearfix"></span>
                    </div>
                </div>

                <div ng-if="reportName == 'AuthorizationUserObject'">
                    <div class="form-group">
                        <label class="control-label" for="report_name">USER NAME</label>
                        <div angucomplete-alt
                             placeholder="Search users"
                             pause="0"
                             selected-object="reportFilters.userId"
                             local-data="allUsers"
                             search-fields="props.name"
                             title-field="props.name"
                             minlength="0"
                             input-class="form-control"
                             auto-match="true"
                             match-class="highlight"
                             template-url="/autcomplete_template.html">
                        </div>
                    </div>
                    <div class="form-group">

                        <label class="control-label" for="report_name">RIGHTS</label>
                        <table class="table" id="rightsTable">
                            <thead>
                                <tr>
                                    <th><span>Read</span></th>
                                    <th><span>Write</span></th>
                                    <th><span>Execute</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="cursor: default;">
                                    <td>
                                        <div class="checkbox">
                                            <input type="checkbox" ng-model="readRight" ng-true-value="1" ng-false-value="-1" ng-change="calculateRWXValue(readRight)">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <input type="checkbox" ng-model="writeRight" ng-true-value="2" ng-false-value="-2" ng-change="calculateRWXValue(writeRight)">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <input type="checkbox" ng-model="executeRight" ng-true-value="4" ng-false-value="-4" ng-change="calculateRWXValue(executeRight)">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <br />
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="reportFilters.includePassive"> Include Passive Objects
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button ng-click="nextStep();" class="btn btn-primary btn-sm pull-right">Report</button>
                        <button ng-click="clearFilters()" class="btn btn-default btn-sm pull-right mr10">Clear</button>
                        <span class="clearfix"></span>
                    </div>


                </div>

            </div>
        </div>

    </div>


    <div id="create_job_step3" ng-show="currentStep==3 || currentStep == 4">

        <div>
            <div class="table-responsive" ng-if="reportName == 'AuthorizationRoleUser'">

                <table class="table" id="reportsTable">
                    <thead>
                        <tr>
                            <th>Role Name</th>
                            <th>User Name</th>
                            <th>Role Status</th>
                            <th>User Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="4" class="text-center" style="font-size: 16px;" ng-show="loading==true"><i class="fa fa-circle-o-notch fa-spin"></i>Loading...</td>
                        </tr>
                        <tr ng-repeat="result in reportResult">
                            <td class="truncate-maxwidth">{{result.roleName}}</td>
                            <td class="truncate-maxwidth">{{result.userName}}</td>
                            <td>
                                <span ng-if="result.roleStatus">Active</span>
                                <span ng-if="!result.roleStatus">Passive</span>
                            </td>
                            <td>
                                <span ng-if="result.userStatus">Active</span>
                                <span ng-if="!result.userStatus">Passive</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="line-center">
                    <span>{{reportResult.length}} Rows</span>
                </p>
            </div>

            <div class="table-responsive" ng-if="reportName == 'AuthorizationUserRole'">
                <table class="table" id="reportsTable">
                    <thead>
                        <tr>
                            <th>User Name</th>
                            <th>Role Name</th>
                            <th>User Status</th>
                            <th>Role Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="4" class="text-center" style="font-size: 16px;" ng-show="loading==true"><i class="fa fa-circle-o-notch fa-spin"></i>Loading...</td>
                        </tr>
                        <tr ng-repeat="result in reportResult">
                            <td class="truncate-maxwidth">{{result.userName}}</td>
                            <td class="truncate-maxwidth">{{result.roleName}}</td>
                            <td>
                                <span ng-if="result.userStatus">Active</span>
                                <span ng-if="!result.userStatus">Passive</span>
                            </td>
                            <td>
                                <span ng-if="result.roleStatus">Active</span>
                                <span ng-if="!result.roleStatus">Passive</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="line-center">
                    <span>{{reportResult.length}} Rows</span>
                </p>
            </div>

            <div class="table-responsive" ng-if="reportName == 'AuthorizationRoleObject'">
                <table class="table" id="reportsTable">
                    <thead>
                        <tr>
                            <th>Role Name</th>
                            <th>Object Name</th>
                            <th>Rights</th>
                            <th>Role Status</th>
                            <th>Object Status</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr ng-if="loading==true">
                            <td colspan="5" class="text-center" style="font-size: 16px;"><i class="fa fa-circle-o-notch fa-spin"></i>Loading...</td>
                        </tr>
                        <tr ng-repeat="result in reportResult">
                            <td class="truncate-maxwidth">{{result.roleName}}</td>
                            <td class="truncate-maxwidth">{{result.objectName}}</td>
                            <td>
                                <span ng-if="result.rights == 0">None</span>
                                <span ng-if="result.rights == 1">Execute</span>
                                <span ng-if="result.rights == 2">Write</span>
                                <span ng-if="result.rights == 3">Write, Execute</span>
                                <span ng-if="result.rights == 4">Read</span>
                                <span ng-if="result.rights == 5">Read, Execute</span>
                                <span ng-if="result.rights == 6">Read, Write</span>
                                <span ng-if="result.rights == 7">Read, Write, Execute</span>
                            </td>
                            <td>
                                <span ng-if="result.roleStatus">Active</span>
                                <span ng-if="!result.roleStatus">Passive</span>
                            </td>
                            <td>
                                <span ng-if="result.objectStatus">Active</span>
                                <span ng-if="!result.objectStatus">Passive</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="line-center">
                    <span>{{reportResult.length}} Rows</span>
                </p>
            </div>

            <div class="table-responsive" ng-if="reportName == 'AuthorizationUserObject'">
                <table class="table" id="reportsTable">
                    <thead>
                        <tr>
                            <th>User Name</th>
                            <th>Role Name</th>
                            <th>Object Name</th>
                            <th>Rights</th>
                            <th>User Status</th>
                            <th>Object Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="loading==true">
                            <td colspan="6" class="text-center" style="font-size: 16px;" ><i class="fa fa-circle-o-notch fa-spin"></i>Loading...</td>
                        </tr>
                        <tr ng-repeat="result in reportResult">
                            <td class="truncate-maxwidth">{{result.userName}}</td>
                            <td class="truncate-maxwidth">{{result.roleName}}</td>
                            <td class="truncate-maxwidth">{{result.objectName}}</td>
                            <td>
                                <span ng-if="result.rights == 0">None</span>
                                <span ng-if="result.rights == 1">Execute</span>
                                <span ng-if="result.rights == 2">Write</span>
                                <span ng-if="result.rights == 3">Write, Execute</span>
                                <span ng-if="result.rights == 4">Read</span>
                                <span ng-if="result.rights == 5">Read, Execute</span>
                                <span ng-if="result.rights == 6">Read, Write</span>
                                <span ng-if="result.rights == 7">Read, Write, Execute</span>
                            </td>
                            <td>
                                <span ng-if="result.userStatus">Active</span>
                                <span ng-if="!result.userStatus">Passive</span>
                            </td>
                            <td>
                                <span ng-if="result.objectStatus">Active</span>
                                <span ng-if="!result.objectStatus">Passive</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="line-center">
                    <span>{{reportResult.length}} Rows</span>
                </p>
            </div>

        </div>

    </div>



    <script type="text/ng-template" id="/autcomplete_template.html">
        <div class="angucomplete-holder" ng-class="{'angucomplete-dropdown-visible': showDropdown}">
            <input id="autoCompleteTextBox" ng-model="searchStr"
                   ng-disabled="disableInput"
                   type="text"
                   placeholder="{{placeholder}}"
                   ng-focus="onFocusHandler();"
                   class="{{inputClass}}"
                   ng-blur="hideResults($event);"
                   autocapitalize="off"
                   autocorrect="off"
                   autocomplete="off"
                   ng-change="inputChangeHandler(searchStr)" />
            <div class="angucomplete-dropdown" ng-show="showDropdown">
                <div class="angucomplete-searching" ng-show="searching" ng-bind="textSearching"></div>
                <div class="angucomplete-searching" ng-show="!searching && (!results || results.length == 0)">No Matches</div>
                <div class="angucomplete-row" ng-repeat="result in results" ng-click="selectResult(result)" ng-mouseenter="hoverRow($index)" ng-class="{'angucomplete-selected-row': $index == currentIndex}">
                    <div  title="{{result.title}}"  class="angucomplete-title {{result.originalObject.props.active ? '' : 'disabled'}} truncate-maxwidth" ng-if="matchClass" ng-bind-html="result.title"></div>
                    <div title="{{result.title}}" class="angucomplete-title {{result.originalObject.props.active ? '' : 'disabled'}} truncate-maxwidth" ng-if="!matchClass">{{ result.title }}</div>
                </div>
            </div>
        </div>
    </script>
</div>