﻿<div id="new_role">

    <h1 class="page-header" ng-show="editmode==false">CREATE NEW ROLE</h1>
    <h1 class="page-header" ng-show="editmode==true">EDIT ROLE</h1>

    <div class="row">

        <div class="col-lg-5 col-sm-8 col-sm-offset-0">

            <div class="form-horizontal">
                <!--<div class="form-group {{buttonClicked && role.props.name==undefined ? 'has-error'  : ''}}">-->
                <div class="form-group">
                    <label class="col-lg-4 col-sm-3 control-label" for="newrole_name">NAME</label>

                    <div class="col-lg-8 col-sm-9">
                        <input type="text" class="form-control" id="newrole_name" ng-model="role.props.name" placeholder="Write a name">
                        <!--<span class="control-label" ng-show="buttonClicked && role.props.name==undefined">Please write a role name</span>-->
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-4 col-sm-3 control-label" for="newrole_description">DESCRIPTION</label>
                    <div class="col-lg-8 col-sm-9">
                        <textarea class="form-control" id="newrole_description" ng-model="role.props.description" placeholder="Write a role description" rows="10"></textarea>
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-lg-4 col-sm-3 control-label" for="newrole_status">STATUS</label>

                    <div class="col-lg-8 col-sm-9">
                        <select class="form-control" id="newrole_status" ng-model="role.props.active">
                            <option value="true">Active</option>
                            <option value="false">Passive</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">

        <div class="col-lg-10">

            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div >
                        <div class="form-group">
                            <label class="col-sm-4 control-label">&nbsp;</label>

                            <div class="col-sm-8">
                                <div><label class="control-label">USER LIST</label></div>
                                <div class="list-box">

                                    <a href="javascript:void(0);" class="{{selectedAddUsers.indexOf(user) != -1 ? 'selected' : ''}}" ng-click="selectAddUser(user)" ng-repeat="user in users">{{user.props.name}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">

                    <div class="row">
                        <div class="col-lg-3 col-sm-3">
                            <br /><br /><br />
                            <p><a href="javascript:void(0);" class="btn btn-primary btn-block swap-buton text-right {{selectedAddUsers.length == 0 ? 'disabled' : ''}}" ng-click="addSelectedUser()"><span class="fa fa-arrow-right"></span></a></p>

                            <p><a  href="javascript:void(0);" class="btn btn-primary btn-block swap-buton text-left  {{selectedRemoveUsers.length == 0 ? 'disabled' : ''}}" ng-click="removeSelectedUser()"><span class="fa fa-arrow-left"></span></a></p>
                        </div>
                        <div class="col-lg-8 col-sm-7 col-sm-offset-1 col-lg-offset-0">
                            <div style="padding-top:14px;">
                                <div class="form-group">
                                    <div>
                                        <div><label class="control-label">ROLE LIST</label></div>
                                        <div class="list-box">
                                            <a href="javascript:void(0);" class="{{selectedRemoveUsers.indexOf(user) != -1 ? 'selected' : ''}}" ng-click="selectRemoveUser(user)"  ng-repeat="user in role.users">{{user.props.name}}</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <hr />
    <div class="row">
        <div class="col-lg-5">

            <div class="form-horizontal">

                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-4">
                        <a class="btn btn-block btn-primary" ng-click="saveRole()">
                            <span>SAVE</span>
                        </a>
                        <div ng-show="updated==true" class="alert alert-success" style="margin-top:15px;">The role has been updated successfully.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>