﻿<div id="content_newjob">

    <h1 class="page-header" ng-show="editmode==false">CREATE RULE</h1>

    <h1 class="page-header" ng-show="editmode==true">EDIT RULE</h1>

    <div>
        <div class="wizard-steps">

            <div class="row">

                <div class="col-lg-1 col-sm-2 col-xs-2">
                    <a class="btn btn-default next {{currentStep == 1 ? 'hidden' : ''}}" ng-click="prevStep();">&lt; BACK</a>
                </div>
                <div class="col-lg-10 col-sm-8 col-xs-8">

                    <div class="stepwizard">
                        <div class="stepwizard-row">

                            <div class="stepwizard-step {{currentStep > 1 ? 'completed' : 'current' }}">
                                <span class="btn btn-default">
                                    <span class="fa fa-gear"></span>
                                    <span class="fa fa-check"></span>
                                </span>
                                <p>BASIC INFORMATION</p>
                            </div>
                            <div class="stepwizard-step {{currentStep > 2 ? 'completed' :  currentStep == 2  ? 'current' : ''}}">
                                <span class="btn btn-default">
                                    <span class="fa fa-pencil"></span>
                                    <span class="fa fa-check"></span>
                                </span>
                                <p>RULE DESIGN</p>
                            </div>
                            <div class="stepwizard-step {{currentStep > 3 ? 'completed' : currentStep == 3 ? 'current' : ''}}">
                                <span class="btn btn-default">
                                    <span class="fa fa-flash"></span>
                                    <span class="fa fa-check"></span>
                                </span>
                                <p>COMPLETE</p>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="col-lg-1 col-sm-2 col-xs-2">
                    <a class="btn btn-default next {{currentStep == 3 || currentStep == 4 ? 'hidden' : ''}}" ng-click="nextStep();">NEXT &gt;</a>
                </div>
            </div>
        </div>
    </div>


    <div id="create_job_step1" ng-show="currentStep==1">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <div class="form-group">
                    <label class="control-label" for="job_name">NAME</label>
                    <input type="text" class="form-control" id="job_name" ng-model="rule.props.name" placeholder="Write a rule name">
                </div>
                <div class="form-group">
                    <label class="control-label" for="rule_desc">DESCRIPTION</label>
                    <textarea class="form-control" id="rule_desc" placeholder="Write a rule description" ng-model="rule.props.description" rows="10"></textarea>
                </div>
            </div>
        </div>
    </div>


    <div id="create_job_step2" ng-show="currentStep==2">

        <div id="fullScreenBox">
            <div id="diagram_container">

                <div id="tools">
                    <p>TOOLS</p>
                    <a data-toggle="tooltip" title="Select" data-placement="right" class="toolicon selectmark {{selectedDiagramTool == 'select' ? 'toolselected' : ''}}" ng-click="selectDiagramTool('select')"></a>
                    <a data-toggle="tooltip" title="Pan" data-placement="right" class="toolicon hand {{selectedDiagramTool == 'pan' ? 'toolselected' : ''}}" ng-click="selectDiagramTool('pan')"></a>
                    <hr />
                    <a data-toggle="tooltip"  title="Start" data-placement="right" class="toolicon start" data-drag-shape="start" ng-click="addShapeToDiagram('start', {x:droppedPosition.x, y:droppedPosition.y}, 'click' )"></a>
                    <a data-toggle="tooltip" title="End" data-placement="right" class="toolicon end" data-drag-shape="end" ng-click="addShapeToDiagram('end', { x:droppedPosition.x, y:droppedPosition.y}, 'click')"></a>
                    <a data-toggle="tooltip" title="Decision" data-placement="right" class="toolicon decision" data-drag-shape="decision" ng-click="showPopupToAddDiagramShape('decision',true,'click')"></a>
                    <a data-toggle="tooltip" title="Job" data-placement="right" class="toolicon job" data-drag-shape="job" ng-click="showPopupToAddDiagramShape('job',true,'click')"></a>
                    <a data-toggle="tooltip" title="Rule" data-placement="right" class="toolicon rule" data-drag-shape="rule" ng-click="showPopupToAddDiagramShape('rule',true,'click')"></a>
                    <a data-toggle="tooltip" title="Comment" data-placement="right" class="toolicon comment" data-drag-shape="comment" ng-click="showPopupToAddDiagramShape('comment',true,'click')"></a>
                </div>

                <div id="diagram" oncopy="return false"; oncut="return false" onpaste="return false"></div>

                <div id="fs_box">
                    <a class="toolicon fullscreen" ng-click="fullScreen()"></a>
                </div>

                <div id="zoom_box">
                    <a class="toolicon resetview" ng-click="resetViewport()"></a>
                    <hr />
                    <a class="toolicon zoomin" ng-click="zoomToDiagram(0.1)"></a>
                    <a class="toolicon zoomout" ng-click="zoomToDiagram(-0.1)"></a>
                </div>

            </div>


            <div class="modal fade" id="selectJobAndRulePopup" tabindex="-1" role="dialog" aria-labelledby="sql_modal-label" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content ">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Select <span ng-show="openedPopupType == 'rule'">Rule</span> <span ng-show="openedPopupType == 'job'">Job</span></h4>
                        </div>
                        <div class="modal-body">

                            <div>
                                <div class="col-lg-3 col-sm-3 col-xs-3">
                                    <script type="text/ng-template" id="rule_tree_item_renderer.html">
                                        <div class="arrowed-box {{activeFolderId == folder.id ? 'active': ''}}">
                                            <a href="javascript:void(0);" data-expand-button="rule" data-expand="{{folder.id}}" class="arrow-mark" ng-show="folder.hasChildFolders == true || folder.folders.length > 0" ng-click="viewSubFolders(folder)">
                                                <span class="fa fa-caret-down" style="display:none;"></span>
                                                <span class="fa fa-caret-right"></span>
                                            </a>
                                            <a ng-click="viewJobsAndRules(folder.id)" class="item" href="javascript:void(0);"><i class="fa fa-folder"></i> {{folder.props.name}}</a>
                                            <span class="clearfix"></span>
                                        </div>
                                        <ul style="display:none;">
                                            <li ng-repeat="folder in folder.folders" ng-include="'rule_tree_item_renderer.html'"></li>
                                        </ul>
                                    </script>

                                    <ul class="nav-ul" id="scrollable_treeview">
                                        <li>
                                            <a ng-click="viewJobsAndRules(0)" class="item {{activeFolderId == 0 ? 'active': ''}}" href="javascript:void(0);">
                                                <i class="fa fa-folder"></i> Home
                                            </a>
                                        </li>
                                        <li ng-repeat="folder in menuFolders" ng-include="'rule_tree_item_renderer.html'"></li>
                                    </ul>
                                </div>
                                <div class="col-lg-9 col-sm-9 col-xs-9">
                                    <table class="table table-hover ml-15">
                                        <thead>
                                            <tr>
                                                <th>&nbsp;</th>
                                                <th> Name</th>
                                                <th> Last Modified</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="text-center" ng-show="popupDataLoading==true">
                                                <td colspan="3" class="text-center" style="font-size: 16px;"><i class="fa fa-circle-o-notch fa-spin"></i>Loading...</td>
                                            </tr>
                                            <tr ng-repeat="item in jobsOrRules" ng-dblclick="selectAndSaveJobOrRule(item)" ng-click="selectJobOrRule(item)" class="back " title="{{item.props.description}}">
                                                <td><div class="{{item.props.active ? 'active' : 'pasive'}}"></div></td>
                                                <td class="ellipsis {{item.selected ? 'bgf5' : ''}}">
                                                    <span class="icc-{{item.Type}}"></span>
                                                    <span>{{item.props.name}}</span>
                                                </td>
                                                <td class="{{item.selected ? 'bgf5' : ''}}">{{item.props.modificationDate | date:'MMMM dd, yyyy hh:mm'}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <span class="clearfix"></span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
                            <button type="button" class="btn btn-primary" ng-disabled="selectedJobOrRule == undefined" ng-click="saveJobOrRuleSelection()">ADD</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="addEditDecisionExpressionPopup" tabindex="-1" role="dialog" aria-labelledby="sql_modal-label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Decision</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="text" class="form-control" id="shapeExpression" ng-model="expression" placeholder="Enter an expression">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">CANCEL</button>
                            <button type="button" class="btn btn-primary" ng-disabled="expression == undefined || expression.length == 0" ng-click="addShapeToDiagram('decision',{expression:expression , x:droppedPosition.x, y:droppedPosition.y })">SAVE</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="addEditDecisionConnectionPopup" tabindex="-1" role="dialog" aria-labelledby="addEditDecisionConnectionPopup-label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="control-label" for="shapeDecisionType">Decision Type</label>
                                <select class="form-control" id="shapeDecisionType" ng-model="decisionType" ng-init="decisionType = 'yes'">
                                    <option value="yes">True</option>
                                    <option value="no">False</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" ng-click="closeDecisionTypePopup()">CANCEL</button>
                            <button type="button" class="btn btn-primary" ng-click="changeDecisionConnection(decisionType)">SAVE</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="addEditCommentPopup" tabindex="-1" role="dialog" aria-labelledby="sql_modal-label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Comment</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="text" class="form-control" id="commentText" ng-model="comment" maxlength="250" placeholder="Type your comment">

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
                            <button type="button" class="btn btn-primary" ng-disabled="comment == undefined || comment.length == 0" ng-click="addShapeToDiagram('comment',{comment:comment, x:droppedPosition.x, y:droppedPosition.y })">ADD</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="deletePopup" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 ng-show="deletingShape.length == 1" class="modal-title truncate">Are you sure you want to delete {{deletingShape[0].dataItem.type}}?</h4>
                            <h4 ng-show="deletingShape.length > 1" class="modal-title truncate">Are you sure you want to delete multiple nodes?</h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
                            <button type="button" class="btn btn-primary" ng-click="deleteShape()">YES</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>


    <div id="create_job_step3" ng-show="currentStep==3 || currentStep == 4">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <div class="form-group">
                    <label class="control-label">JOB STATUS</label>
                    <select class="form-control" ng-model="rule.props.active">
                        <option value="">Select job status</option>
                        <option value="true">Active</option>
                        <option value="false">Passive</option>
                    </select>
                </div>

                <div class="form-group">
                    <div>
                        <a class="btn btn-primary btn-block" ng-click="saveRule()">SAVE</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" ng-show="ruleEdited == true">
            <div class="col-lg-2"></div>
            <div class="col-lg-4"><div class="alert alert-success">The rule has been updated successfully.</div></div>
        </div>
    </div>
</div>