﻿<ul id="contextMenu" class="dropdown-menu contextmenu" role="menu" oncontextmenu="return false;">
    <li ng-show="user != undefined"><a tabindex="-1" href="javascript:void(0);" ng-click="userDetail(user)"><span class="fa fa-edit"></span> EDIT</a></li>
    <li ng-show="role != undefined"><a tabindex="-1" href="javascript:void(0);" ng-click="roleDetail(role)"><span class="fa fa-edit"></span> EDIT</a></li>
    <li ng-show="parameter != undefined"><a tabindex="-1" href="javascript:void(0);" ng-click="globalParameterDetail(parameter)"><span class="fa fa-edit"></span> EDIT</a></li>
    <li ng-show="connection != undefined"><a tabindex="-1" href="javascript:void(0);" ng-click="connectionDetail(connection)"><span class="fa fa-edit"></span> EDIT</a></li>

    <li ng-show="user != undefined"><a tabindex="-1" href="javascript:void(0);" ng-click="showDeletePopup(user)"><span class="fa fa-remove"></span> DELETE</a></li>
    <li ng-show="role != undefined"><a tabindex="-1" href="javascript:void(0);" ng-click="showDeletePopup(role)"><span class="fa fa-remove"></span> DELETE</a></li>
    <li ng-show="parameter != undefined"><a tabindex="-1" href="javascript:void(0);" ng-click="showDeletePopup(parameter)"><span class="fa fa-remove"></span> DELETE</a></li>
    <li ng-show="connection != undefined"><a tabindex="-1" href="javascript:void(0);" ng-click="showDeletePopup(connection)"><span class="fa fa-remove"></span> DELETE</a></li>
</ul>