﻿
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>
                    Parameter Name
                    <a href="javascript:void(0);" class="sortbutton" ng-show="currentOrderProp == 'props.name'" ng-click="orderBy('props.name')">
                        <span ng-show="currentOrderBy == 'desc'" class="fa fa-arrow-down"></span>
                        <span ng-show="currentOrderBy == 'asc'" class="fa fa-arrow-up"></span>
                    </a>
                    <a href="javascript:void(0);" class="sortbutton" ng-show="currentOrderProp != 'props.name'" ng-click="orderBy('props.name')"><span class="fa fa-arrow-down"></span></a>
                </th>
                <th>
                    Expression
                    <a href="javascript:void(0);" class="sortbutton" ng-show="currentOrderProp == 'value'" ng-click="orderBy('value')">
                        <span ng-show="currentOrderBy == 'desc'" class="fa fa-arrow-down"></span>
                        <span ng-show="currentOrderBy == 'asc'" class="fa fa-arrow-up"></span>
                    </a>
                    <a href="javascript:void(0);" class="sortbutton" ng-show="currentOrderProp != 'value'" ng-click="orderBy('value')"><span class="fa fa-arrow-down"></span></a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="{{parameter.selected ? 'selected' : ''}}" ng-repeat="parameter in parameters" ng-click="selectItem(parameter)" ng-right-click="selectItem(parameter)" ng-dblclick="globalParameterDetail(parameter)"  data-context-event="contextmenu" data-context-menu="views/editContextMenu.html?v=1.0.15">
                <td><div class="{{parameter.props.active ? 'active' : 'pasive'}}"></div></td>
                <td class="ellipsis" title="{{parameter.props.name}}">
                    <span class="icc-localparameter"></span>
                    {{parameter.props.name}}
                </td>
                <td class="ellipsis">{{parameter.value}}</td>
            </tr>
        </tbody>
    </table>

</div>



<div class="modal fade" id="deletePopup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title truncate">Are you sure you want to delete {{deleteObject.props.name}}?</h4>
            </div>
            <div class="modal-footer">
                <div class="alert alert-danger text-left" ng-show="notifyError != undefined">
                    <p>{{notifyError}}</p>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
                <button type="button" class="btn btn-primary" ng-click="delete()">YES</button>
            </div>
        </div>
    </div>
</div>