﻿


<div>
    
    <ul class="nav nav-tabs nav-justified monitoring-tabs">
        <li class="{{activeTab == 'schedule' ? 'active' : ''}}"><a href="javascript:void(0);" ng-click="changeTab('schedule')">SCHEDULE</a></li>
        <li class="{{activeTab == 'today' ? 'active' : ''}}"><a href="javascript:void(0);" ng-click="changeTab('today')">TODAY</a></li>
        <li class="{{activeTab == 'history' ? 'active' : ''}}"><a href="javascript:void(0);" ng-click="changeTab('history')">HISTORY</a></li>
    </ul>
    <span class="clearfix"></span>
</div>

<br />

<div class="table-responsive" ng-show="activeTab == 'today'">

    <div>
        <div class="form-group pull-left mr5">
            <input type="text" class="form-control monitoring-filter" ng-model="todaySearchTerm" placeholder="Search" />
        </div>


        <a href="javascript:void(0);" class="btn btn-danger pull-left btn-sm" ng-if="todaySearchTerm.length > 0" ng-click="clearFilterResult('today')">Clear</a>
        <span class="clearfix"></span>
    </div>
    <br />

    <table class="table table-hover table-monitoring table-today">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Name</th>
                <th>Status </th>
                <th>Start</th>
                <th>End</th>
                <th>Result</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td colspan="7" class="text-center" style="font-size: 16px;" ng-show="loading==true"><i class="fa fa-circle-o-notch fa-spin"></i>Loading...</td>
            </tr>

            <tr ng-repeat="operation in operations | filter : todayFullTextSearch as todayFilterResult track by $index">

                <td><span class="icc-{{operation.type.toLowerCase()}}"></span></td>
                <td class="ellipsis" title="{{operation.modelName}}">{{operation.modelName}}</td>
                <td><span class="{{ operation.status == 'Executing' ? 'highlight-text' : '' }}">{{operation.status}}</span></td>
                <td>{{operation.startDate | date:'MMMM dd, yyyy hh:mm a'}}</td>
                <td>{{operation.endDate | date:'MMMM dd, yyyy hh:mm a'}}</td>
                <td><span class="{{operation.summary == 'Success' ? 'monitoring-success' : operation.summary=='Error' ? 'monitoring-error' : '' }}">{{operation.summary }}</span></td>

                <td>
                    <a ng-disabled="takingAction" title="{{command == 'None' ? '' : command}}" ng-repeat="command in operation.availableCommands" class="m-btn" href="javascript:void(0);" ng-click="takeMonitoringAction(operation, command.toLowerCase())">
                        <span ng-if="command.toLowerCase() != 'live'"  class="fa {{(command.toLowerCase() == 'start' ||command.toLowerCase() == 'resume') ? 'fa-play' : command.toLowerCase() == 'skip' ? 'fa-step-forward' : command.toLowerCase() == 'reschedule' ? 'fa-history' :   command.toLowerCase() == 'pause' ? 'fa-pause'  : command.toLowerCase() == 'unschedule' ? 'fa-times'  : command.toLowerCase() == 'cancel' ? 'fa-stop' : command.toLowerCase() == 'restart' ? 'fa-repeat fa-flip-horizontal' : command.toLowerCase() == 'details' ? 'fa-file-text'   :  'fa-circle-o-notch fa-spin fast-spin' }}"></span>

                        <img class="valigntop mt1 ml7"   ng-if="command.toLowerCase() == 'live'" src="/images/icon_livemonitor.png" width="20" height="20" />

                    </a>
                </td>
            </tr>
        </tbody>
    </table>
  
    <p class="line-center">
        <span>{{todayFilterResult.length}} Rows</span>
    </p>
</div>


<div class="table-responsive" ng-show="activeTab == 'schedule'">

    <div>

        <div class="pull-right">
            <span ng-show="activeTab == 'schedule' && filterScheduleFromDate != null">{{filterScheduleFromDate |  date:'MMMM dd, yyyy'}} - {{filterScheduleToDate | date:'MMMM dd, yyyy'}}</span>
            <span ng-show="activeTab == 'history' && filterHistoryFromDate != null">{{filterHistoryFromDate |  date:'MMMM dd, yyyy'}} - {{filterHistoryToDate | date:'MMMM dd, yyyy'}}</span>
            <span>&nbsp;&nbsp;</span><a ng-show="activeTab != 'today'" class="btn btn-primary btn-sm" ng-click="showFilterPopup()">Filter</a>
        </div>


        <div class="form-group pull-left mr5">
            <input type="text" class="form-control  monitoring-filter" ng-model="scheduleSearchTerm" placeholder="Search">
        </div>

        <a href="javascript:void(0);" class="btn btn-danger pull-left btn-sm" ng-if="scheduleSearchTerm.length > 0" ng-click="clearFilterResult('schedule')">Clear</a>
 
        <span class="clearfix"></span>
    </div>
    <br />


    <table class="table table-hover table-monitoring table-schedule">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Name</th>
                <th>Status </th>
                <th>First Run</th>
                <th>Repeat Interval</th>
                <th>Period</th>
                <th>Next Run</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="8" class="text-center" style="font-size: 16px;" ng-show="loading==true"><i class="fa fa-circle-o-notch fa-spin"></i>Loading...</td>
            </tr>
            <tr ng-repeat="schedule in schedules | filter : scheduleFullTextSearch as scheduleFilterResult track by $index">
                <td><span class="icc-{{schedule.type.toLowerCase()}}"></span></td>
                <td class="ellipsis" title="{{schedule.modelName}}">{{schedule.modelName}}</td>
                <td><span class="{{ schedule.status == 'Executing' ? 'highlight-text' : '' }}">{{schedule.status}}</span></td>
                <td>{{schedule.schedule.firstRunDate | date:'MMMM dd, yyyy hh:mm a'}}</td>
                <td>{{schedule.schedule.interval }}</td>
                <td>{{schedule.schedule.period }}</td>
                <td>{{schedule.nextRunDate | date:'MMMM dd, yyyy hh:mm a'}}</td>
                <td>

                    <a ng-disabled="takingAction" title="{{command == 'None' ? '' : command}}" ng-repeat="command in schedule.availableCommands" class="m-btn" href="javascript:void(0);" ng-click="takeMonitoringAction(schedule, command.toLowerCase())">
                        <span ng-if="command.toLowerCase() != 'live'"  class="fa {{(command.toLowerCase() == 'start' ||command.toLowerCase() == 'resume') ? 'fa-play' : command.toLowerCase() == 'skip' ? 'fa-step-forward' : command.toLowerCase() == 'reschedule' ? 'fa-history' :   command.toLowerCase() == 'pause' ? 'fa-pause'  : command.toLowerCase() == 'unschedule' ? 'fa-times'  : command.toLowerCase() == 'cancel' ? 'fa-stop' : command.toLowerCase() == 'restart' ? 'fa-repeat fa-flip-horizontal' : command.toLowerCase() == 'details' ? 'fa-file-text'  :  'fa-circle-o-notch fa-spin fast-spin' }}"></span>


                        <img  class="valigntop mt1 ml7" ng-if="command.toLowerCase() == 'live'" src="/images/icon_livemonitor.png" width="20" height="20" />
                    </a>

                </td>
            </tr>
        </tbody>
    </table>
    <p class="line-center">
        <span>{{scheduleFilterResult.length}} Rows</span>
    </p>
</div>



<div class="table-responsive" ng-show="activeTab == 'history'">

    <div>
        <div class="pull-right">
            <span ng-show="activeTab == 'schedule' && filterScheduleFromDate != null">{{filterScheduleFromDate |  date:'MMMM dd, yyyy'}} - {{filterScheduleToDate | date:'MMMM dd, yyyy'}}</span>
            <span ng-show="activeTab == 'history' && filterHistoryFromDate != null">{{filterHistoryFromDate |  date:'MMMM dd, yyyy'}} - {{filterHistoryToDate | date:'MMMM dd, yyyy'}}</span>
            <span>&nbsp;&nbsp;</span><a ng-show="activeTab != 'today'" class="btn btn-primary" ng-click="showFilterPopup()">Filter</a>
        </div>

        <div class="form-group pull-left mr5">
            <input type="text" class="form-control  monitoring-filter" ng-model="historySearchTerm" placeholder="Search" />
        </div>

        <a href="javascript:void(0);" class="btn btn-danger pull-left btn-sm" ng-if="historySearchTerm.length > 0" ng-click="clearFilterResult('history')">Clear</a>
        <span class="clearfix"></span>
    </div>
    <br />

    <table class="table table-hover table-monitoring table-today">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Name</th>
                <th>Status </th>
                <th>Start</th>
                <th>End</th>
                <th>Result</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="7" class="text-center" style="font-size: 16px;" ng-show="loading==true"><i class="fa fa-circle-o-notch fa-spin"></i>Loading...</td>
            </tr>
            <tr ng-repeat="history in histories | filter : historyFullTextSearch as historyFilterResult track by $index">
           
                <td><span class="icc-{{history.type.toLowerCase()}}"></span></td>
                <td class="ellipsis" title="{{history.modelName}}">{{history.modelName}}</td>
                <td><span class="{{ history.status == 'Executing' ? 'highlight-text' : '' }}">{{history.status}}</span></td>
                <td>{{history.startDate | date:'MMMM dd, yyyy hh:mm a'}}</td>
                <td>{{history.endDate | date:'MMMM dd, yyyy hh:mm a'}}</td>
                <td><span class="{{history.summary == 'Success' ? 'monitoring-success' : history.summary=='Error' ? 'monitoring-error' : '' }}">{{history.summary }}</span></td>

                <td>
                    <a ng-disabled="takingAction" title="{{command == 'None' ? '' : command}}" ng-repeat="command in history.availableCommands" class="m-btn" href="javascript:void(0);" ng-click="takeMonitoringAction(history, command.toLowerCase())">
                        <span ng-if="command.toLowerCase() != 'live'" class="fa {{(command.toLowerCase() == 'start' ||command.toLowerCase() == 'resume') ? 'fa-play' : command.toLowerCase() == 'skip' ? 'fa-step-forward' : command.toLowerCase() == 'reschedule' ? 'fa-history' :   command.toLowerCase() == 'pause' ? 'fa-pause'  : command.toLowerCase() == 'unschedule' ? 'fa-times'  : command.toLowerCase() == 'cancel' ? 'fa-stop' : command.toLowerCase() == 'restart' ? 'fa-repeat fa-flip-horizontal' : command.toLowerCase() == 'details' ? 'fa-file-text'  :  'fa-circle-o-notch fa-spin fast-spin' }}"></span>

                        <img  class="valigntop mt1 ml7" ng-if="command.toLowerCase() == 'live'" src="/images/icon_livemonitor.png" width="20" height="20" />
                    </a>
                </td>

            </tr>
        </tbody>
    </table>
    <p class="line-center">
        <span>{{historyFilterResult.length}} Rows</span>
    </p>
</div>


<div class="modal fade" id="applyFilterPopup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title truncate">Filter</h4>

            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-4 control-label">From</label>
                        <div class="col-lg-8">
                            <div>
                                <div class="col-sm-12" style="margin:0; padding:0;">
                                    <input type='text' id="fromDatePicker" class="form-control datepicker_textbox" placeholder="Select a start date"  />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">To</label>
                        <div class="col-lg-8">
                            <div>
                                <div class="col-sm-12" style="margin:0; padding:0;">
                                    <input type='text' id="toDatePicker" class="form-control datepicker_textbox" placeholder="Select an end date"  />
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="applyFilterButton" class="btn btn-primary" disabled="disabled" ng-click="applyFilter()">Apply</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="areYouSureCommandPopup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 ng-if="currentAction == 'skip'" class="modal-title truncate">{{areYouSureData.type}} {{areYouSureData.modelName}} will be skipped. Are you sure?</h4>
                <h4 ng-if="currentAction == 'unschedule'" class="modal-title truncate">{{areYouSureData.type}} {{areYouSureData.modelName}} will be unscheduled. Are you sure?</h4>
                <h4 ng-if="currentAction == 'cancel'" class="modal-title truncate">{{areYouSureData.type}} {{areYouSureData.modelName}} will be canceled. Are you sure?</h4>
            </div>
            <div class="modal-footer">

                <div class="alert text-center" ng-show="processing == true" style="margin-bottom:0;">
                    <p><i class="fa fa-circle-o-notch fa-spin"></i> Processing...</p>
                </div>

                <button type="button" class="btn btn-default" ng-disabled="processing" data-dismiss="modal">NO</button>
                <button type="button" class="btn btn-primary" ng-disabled="processing" ng-click="takeActionAfterBeingSure()">YES</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="rescheduleCommandPopup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title truncate"><span class="icc-{{areYouSureData.type.toLowerCase()}}"></span>  Schedule <span>{{areYouSureData.modelName.cutText(45)}}</span></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">

                    <div class="form-group" style="padding-right: 20px; padding-left: 5px;  position:relative;">
                        <input style="display:none;" type='text' id="scheduleDateTimePicker" class="form-control datepicker_textbox" placeholder="Select a scheduled date"  />
                    </div>
                    <br />

                    <div class="form-group">

                        <div class="col-lg-4">
                            <div class="checkbox text-right">
                                <label>
                                    <input type="checkbox" ng-model="repeatEveryData" ng-change="schedulePostData.interval = repeatEveryData == true ? 'MONTHS' : 'NONE'; schedulePostData.period = undefined;"> <b>Repeat every</b>
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <input type="number" min="0" ng-disabled="!repeatEveryData" placeholder="Period" ng-model="schedulePostData.period" class="form-control" />
                        </div>

                        <div class="col-lg-4">
                            <select class="form-control" ng-disabled="!repeatEveryData" ng-model="schedulePostData.interval" ng-init="schedulePostData.interval = 'NONE'">
                                <option value="NONE">None</option>
                                <option value="MINUTES">Minutes</option>
                                <option value="HOURS">Hours</option>
                                <option value="DAYS">Days</option>
                                <option value="WEEKS">Weeks</option>
                                <option value="MONTHS">Months</option>
                            </select>
                        </div>

                    </div>

                </div>


                <div class="alert text-center" ng-show="scheduleProcessing == true" style="margin-bottom:0;">
                    <p><i class="fa fa-circle-o-notch fa-spin"></i> Processing...</p>
                </div>

            </div>
            <div class="modal-footer" ng-show="!scheduleProcessing">
                <div class="alert alert-danger text-left" ng-show="notifyError != undefined">
                    <p>{{notifyError}}</p>
                </div>

                <button type="button" class="btn btn-primary" ng-disabled="((schedulePostData.period == 0 || schedulePostData.period == undefined || schedulePostData.interval == 'NONE' )  && repeatEveryData == true) || schedulePostData.firstRunDate == undefined " ng-click="saveSchedule()">Save</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="detailPopup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title truncate"><i class="fa fa-de"></i>Log Detail</h4>
            </div>

            <div class="modal-body" style="min-height:400px;">

                <ul class="nav nav-tabs nav-justified monitoring-tabs">
                    <li class="{{activeDetailTab == 'results' ? 'active' : ''}}"><a href="javascript:void(0);" ng-click="changeDetailTab('results')">RESULTS</a></li>
                    <li class="{{activeDetailTab == 'errors' ? 'active' : ''}}"><a href="javascript:void(0);" ng-click="changeDetailTab('errors')">ERRORS</a></li>
                    <li class="{{activeDetailTab == 'sql' ? 'active' : ''}}"><a href="javascript:void(0);" ng-click="changeDetailTab('sql')">SQL</a></li>
                </ul>

                <div class="table-responsive" ng-show="activeDetailTab == 'results'">

                    <br />
                    <table id="operationResultsTable" class="table table-hover table-today">
                        <thead>
                            <tr>
                                <th>Key</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, value) in logDetail.results">
                                <td>{{key}}</td>
                                <td>{{value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div ng-show="activeDetailTab == 'errors'">
                    <p style="padding: 9.5px;" class="breakword" ng-bind-html="logDetail.errorDetail"></p>
                </div>

                <div ng-show="activeDetailTab == 'sql'">
                    <pre><code class="sql" id="sqlQueryCodeBox">{{logDetail.queryDetail}}</code></pre>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="liveRuleMonitoringPopup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 95%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Live Monitor</h4>
                
            </div>
            <div class="modal-content">
                <div class="alert alert-danger" ng-show="notifyError != undefined" style="margin-bottom: 0 !important; border-radius: 0 !important;">
                    {{notifyError}}
                </div>

                <div id="live_diagram_container">
                    <div id="live_tools">
                        <p>TOOLS</p>
                       
                        <a data-toggle="tooltip" title="Pan" data-placement="right" class="toolicon hand toolselected"></a>
                    </div>
                    <div id="liveMonitoringDiagram" oncopy="return false" ; oncut="return false" onpaste="return false"></div>

                    <div id="live_zoom_box">
                        <a class="toolicon resetview" ng-click="resetViewport()"></a>
                        <hr />
                        <a class="toolicon zoomin" ng-click="zoomToDiagram(0.1)"></a>
                        <a class="toolicon zoomout" ng-click="zoomToDiagram(-0.1)"></a>
                    </div>
                </div>

               
            </div>
        </div>
    </div>
</div>