﻿<div id="new_connection">

    <h1 class="page-header" ng-show="editmode==false">CREATE NEW CONNECTION</h1>
    <h1 class="page-header" ng-show="editmode==true">EDIT CONNECTION</h1>

    <div class="row">

        <div class="col-lg-5">

            <div class="form-horizontal">

                <!--<div class="form-group {{buttonClicked && connection.props.name==undefined ? 'has-error'  : ''}}">-->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="connection_name">NAME</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="connection_name" ng-required="true" ng-model="connection.props.name" placeholder="Write a connection name">
                        <!--<span class="control-label" ng-show="buttonClicked && connection.props.name==undefined">Please write a connection name</span>-->
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-2 control-label" for="connection_description">DESCRIPTION</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" id="v_description" ng-model="connection.props.description" placeholder="Write a connection description" rows="10"></textarea>
                    </div>
                </div>

                <!--<div class="form-group  {{buttonClicked && connection.databaseUrl==undefined ? 'has-error'  : ''}}">-->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="connection_url">URL</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="connection_url" ng-required="true" ng-model="connection.databaseUrl" placeholder="Write database connection url">
                        <!--<span class="control-label" ng-show="buttonClicked && connection.databaseUrl==undefined">Please write database url</span>-->
                    </div>
                </div>

                <!--<div class="form-group  {{buttonClicked && connection.databaseUser==undefined ? 'has-error'  : ''}}">-->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="connection_username">USER</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" autocomplete="off" id="connection_username" ng-required="true" ng-model="connection.databaseUser" placeholder="Write user">
                        <!--<span class="control-label" ng-show="buttonClicked && connection.databaseUser==undefined">Please write database username</span>-->
                    </div>

                </div>

                <!--<div class="form-group {{buttonClicked && connection.databasePassword==undefined ? 'has-error'  : ''}}">-->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="connection_password">PASSWORD</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" autocomplete="new-password" id="connection_password" ng-required="true" ng-model="connection.databasePassword" placeholder="Write password">
                        <!--<span class="control-label" ng-show="buttonClicked && connection.databasePassword==undefined">Please write database user password</span>-->
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-2 control-label" for="connection_status">STATUS</label>

                    <div class="col-sm-8">
                        <select class="form-control" id="newrole_status" ng-model="connection.props.active">
                            <option value="true">Active</option>
                            <option value="false">Passive</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-2">
                        <a class="btn btn-block btn-primary {{loading ? 'disabled' : ''}}" ng-click="saveConnection()">
                            <span>SAVE</span>
                        </a>
                        <div ng-show="updated==true" class="alert alert-success" style="margin-top:15px;">The connection has been updated successfully.</div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>