﻿    <div id="new_folder">

        <h1 class="page-header" ng-show="editmode==false">CREATE NEW FOLDER</h1>
        <h1 class="page-header" ng-show="editmode==true">EDIT FOLDER</h1>

    <div class="row">
        <div class="col-lg-4">

            <!--<div class="form-group {{buttonClicked && folder.props.name==undefined ? 'has-error'  : ''}}">-->
            <div class="form-group">
                <label class="control-label" for="folder_name">NAME</label>
                <input type="text" class="form-control" id="folder_name" ng-required="true" placeholder="Write a folder name" ng-model="folder.props.name">
                <!--<span class="control-label" ng-show="buttonClicked && folder.props.name==undefined">Please write a folder name</span>-->
            </div>
            <div class="form-group">
                <label class="control-label" for="folder_description">DESCRIPTION</label>
                <textarea class="form-control" id="folder_description" placeholder="Write a folder description" rows="10" ng-model="folder.props.description"></textarea>
            </div>
            <div class="form-group">
                <label class="control-label" for="newfolder_status">STATUS</label>
                <div>
                    <select class="form-control" id="newfolder_status" ng-model="folder.props.active">
                        <option value="true">Active</option>
                        <option value="false">Passive</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <a class="btn btn-block btn-primary {{loading ? 'disabled' : ''}}" ng-click="saveFolder()">
                    <span>SAVE</span>
                </a>
                <div ng-show="updated==true" class="alert alert-success" style="margin-top:15px;">The folder has been updated successfully.</div>
            </div>
        </div>
    </div>
</div>