﻿<div id="new_user">

    <h1 class="page-header" ng-show="editmode==false">CREATE NEW USER</h1>
    <h1 class="page-header" ng-show="editmode==true">EDIT USER</h1>
    <div class="row">

        <div class="col-lg-5">


            <div class="form-horizontal">
                <!--<div class="form-group {{buttonClicked && user.props.name==undefined ? 'has-error'  : ''}}">-->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="newuser_username">USERNAME</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="newuser_username" ng-required="true" ng-model="user.props.name" placeholder="Write a username">
                        <!--<span class="control-label" ng-show="buttonClicked && user.props.name==undefined">Please write a username</span>-->
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="newuser_firstname">FIRST NAME</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="newuser_firstname" ng-model="user.firstName" placeholder="Write first name">
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-2 control-label" for="newuser_lastname">LAST NAME</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="newuser_lastname" ng-model="user.lastName" placeholder="Write last name">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="newuser_email">EMAIL</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="newuser_email" ng-model="user.email" placeholder="Write email">
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="newuser_logintype" style="padding-top:10px;">LOGIN TYPE</label>

                    <div class="col-sm-8">
                        <div class="radio-inline">
                            <label>
                                <input type="radio" name="newuser_logintype" ng-model="user.loginType" value="Default" checked="checked"> Default
                            </label>
                        </div>

                        <div class="radio-inline">
                            <label>
                                <input type="radio" name="newuser_logintype" ng-model="user.loginType" value="LDAP"> LDAP
                            </label>
                        </div>
                    </div>


                </div>

                <!--<div class="form-group {{buttonClicked && user.userType =='' ? 'has-error'  : ''}}">-->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="newuser_type">USER TYPE</label>

                    <div class="col-sm-8">
                        <select class="form-control" id="newuser_type" ng-model="user.userType">
                            <option value="">Select a user type</option>
                            <option value="Admin">Admin</option>
                            <option value="Normal">Normal</option>
                            <option value="Operator">Operator</option>
                        </select>
                        <!--<span class="control-label" ng-show="buttonClicked && user.userType == ''">Please select a user type</span>-->
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="newuser_status">STATUS</label>

                    <div class="col-sm-8">
                        <select class="form-control" id="newrole_status" ng-model="user.props.active">
                            <option value="true">Active</option>
                            <option value="false">Passive</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-2">
                        <a class="btn btn-block btn-primary {{loading ? 'disabled' : ''}}" ng-click="saveUser()">
                            <span>SAVE</span>
                        </a>
                        <br />
                        <div ng-show="updated==true" class="alert alert-success" style="margin-top:15px;">The user has been updated successfully.</div>
                    </div>
                </div>


            </div>
        </div>



    </div>

</div>