﻿<h1 class="page-header">NOTIFICATIONS</h1>
<div class="table-responsive">
    <table class="table table-hover" id="notificationsTable" >
        <tbody>
            <tr ng-if="notifications.length == 0">
                <td colspan="3" class="text-center" style="font-size: 16px;">You have no new notifications.</td>
            </tr>
            <tr>
                <td colspan="3" class="text-center" style="font-size: 16px;" ng-show="loading==true"><i class="fa fa-circle-o-notch fa-spin" style="font-size:15px !important;"></i>&nbsp;Loading...</td>
            </tr>
            <tr ng-repeat="notification in notifications" class="{{notification.read ? 'read' : 'unread'}}" data-context-event="contextmenu" data-context-menu="views/notificationContextMenu.html?v=1.0.27">
                <td> <img ng-if="notification.read" src="/images/icon_read.png?v=1.0.38" /> <img ng-if="!notification.read" src="/images/icon_unread.png?v=1.0.38" /></td>
                <td>
                    <span>{{notification.text}}</span>
                </td>
                <td ><i class="fa fa-clock-o"></i> {{notification.notificationDateFormatted}}</td>
            </tr>
        </tbody>
    </table>

</div>