﻿


<div>

    <ul class="nav nav-tabs nav-justified monitoring-tabs">
        <li class="{{activeTab == 'profile' ? 'active' : ''}}"><a href="javascript:void(0);" ng-click="changeTab('profile')">PROFILE</a></li>
        <li class="{{activeTab == 'notifications' ? 'active' : ''}}"><a href="javascript:void(0);" ng-click="changeTab('notifications')">NOTIFICATIONS</a></li>
        <li><a href="javascript:void(0);">&nbsp;</a></li>
    </ul>
    <span class="clearfix"></span>
</div>

<br />



<div class="row" ng-show="activeTab == 'profile'">

    <div class="col-lg-5">


        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="profile_email">EMAIL</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="profile_email" ng-model="profile.email" placeholder="Type an email">
                </div>
            </div>

            <div class="form-group {{buttonClicked && (profile.oldPassword==undefined || profile.oldPassword == '') &&  profile.newPassword != undefined && profile.retypedNewPassword != undefined ? 'has-error'  : ''}}">
                <label class="col-sm-2 control-label" for="profile_oldpassword">OLD PASSWORD</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="profile_oldpassword" ng-model="profile.oldPassword" placeholder="Type old password">
                    <span class="control-label" ng-show="buttonClicked && (profile.oldPassword==undefined || profile.oldPassword == '') && profile.newPassword != undefined && profile.retypedNewPassword != undefined">Please type your old password.</span>
                </div>
            </div>


            <div class="form-group {{buttonClicked && (profile.newPassword==undefined || profile.newPassword == '') && profile.oldPassword != undefined && profile.retypedNewPassword != undefined ? 'has-error'  : ''}}">
                <label class="col-sm-2 control-label" for="profile_newpassword">NEW PASSWORD</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="profile_newpassword" ng-model="profile.newPassword" placeholder="Type new password">
                    <span class="control-label" ng-show="buttonClicked && (profile.newPassword==undefined || profile.newPassword == '') && profile.oldPassword != undefined && profile.retypedNewPassword != undefined">Please type your new password.</span>
                </div>
            </div>

            <div class="form-group {{profile.retypedNewPassword != undefined && profile.retypedNewPassword != '' && profile.retypedNewPassword != profile.newPassword ? 'has-error'  : ''}}">
                <label class="col-sm-2 control-label" for="profile_reTypeNewPassword">RETYPE NEW PASSWORD</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="profile_reTypeNewPassword" ng-model="profile.retypedNewPassword" placeholder="Retype new password">
                    <span class="control-label" ng-show="profile.retypedNewPassword != undefined && profile.retypedNewPassword != ''  && profile.retypedNewPassword != profile.newPassword">Your new password does not match.</span>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-2">

                    <a class="btn btn-block btn-primary {{validateProfileInput(profile)}}"  ng-click="saveProfile(profile)">
                        <span>SAVE</span>
                    </a>

                    <br />
                    <div ng-show="updated==true" class="alert alert-success" style="margin-top:15px;">The profile has been updated successfully. <span ng-if="showNesPasswordInfo">Please login with your new password.</span></div>

                </div>
            </div>


        </div>
    </div>

</div>




<div class="row" ng-show="activeTab == 'notifications'">


    <div class="col-lg-4">
        <div class="panel panel-default notificationItem" ng-repeat="setting in notificationSettings">
            <div class="panel-heading">{{setting.key.toUpperCase()}}</div>
            <div class="panel-body">
                <div class="form-group " ng-repeat="input in setting.values">
                    <div class="row ">
                        <div class="col-lg-6 col-md-6">
                            <label class="control-label" for="form-group-input">{{input.name}}</label>
                        </div>
                        <div class="col-lg-6 col-md-6 text-right">
                            <input title="{{input.description}}" type="text" ng-if="input.type == 'Standart'" class="form-control" ng-model="input.value" id="form-group-input">
                            <div class="checkbox" ng-if="input.type == 'Boolean'" title="{{input.description}}">
                                <label>
                                    <input type="checkbox" ng-model="input.value">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <a class="btn btn-block btn-primary {{loading ? 'disabled' : ''}}" ng-click="resetNotificationSettings()">
                    <span>RESET</span>
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <a class="btn btn-block btn-primary {{loading ? 'disabled' : ''}}" ng-click="saveNotificationSettings()">
                    <span>SAVE</span>
                </a>
            </div>
            <span class="clearfix"></span>

            <div ng-show="settingsSaved==true" class="alert alert-success" style="margin-top:15px;">The notification settings has been updated successfully.</div>
            <div ng-show="settingsResetted==true" class="alert alert-success" style="margin-top:15px;">The notification settings has been reset successfully.</div>
        </div>

    </div>




</div>