﻿
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>
                    Username
                    <a href="javascript:void(0);" class="sortbutton" ng-show="currentOrderProp == 'props.name'" ng-click="orderBy('props.name')">
                        <span ng-show="currentOrderBy == 'desc'" class="fa fa-arrow-down"></span>
                        <span ng-show="currentOrderBy == 'asc'" class="fa fa-arrow-up"></span>
                    </a>
                    <a href="javascript:void(0);" class="sortbutton" ng-show="currentOrderProp != 'props.name'" ng-click="orderBy('props.name')"><span class="fa fa-arrow-down"></span></a>
                </th>
                <th>
                    First Name
                    <a href="javascript:void(0);" class="sortbutton" ng-show="currentOrderProp == 'firstName'" ng-click="orderBy('firstName')">
                        <span ng-show="currentOrderBy == 'desc'" class="fa fa-arrow-down"></span>
                        <span ng-show="currentOrderBy == 'asc'" class="fa fa-arrow-up"></span>
                    </a>
                    <a href="javascript:void(0);" class="sortbutton" ng-show="currentOrderProp != 'firstName'" ng-click="orderBy('firstName')"><span class="fa fa-arrow-down"></span></a>
                </th>
                <th>
                    Last Name
                    <a href="javascript:void(0);" class="sortbutton" ng-show="currentOrderProp == 'lastName'" ng-click="orderBy('lastName')">
                        <span ng-show="currentOrderBy == 'desc'" class="fa fa-arrow-down"></span>
                        <span ng-show="currentOrderBy == 'asc'" class="fa fa-arrow-up"></span>
                    </a>
                    <a href="javascript:void(0);" class="sortbutton" ng-show="currentOrderProp != 'lastName'" ng-click="orderBy('lastName')"><span class="fa fa-arrow-down"></span></a>
                </th>
                <th>
                    Email
                    <a href="javascript:void(0);" class="sortbutton" ng-show="currentOrderProp == 'email'" ng-click="orderBy('email')">
                        <span ng-show="currentOrderBy == 'desc'" class="fa fa-arrow-down"></span>
                        <span ng-show="currentOrderBy == 'asc'" class="fa fa-arrow-up"></span>
                    </a>
                    <a href="javascript:void(0);" class="sortbutton" ng-show="currentOrderProp != 'email'" ng-click="orderBy('email')"><span class="fa fa-arrow-down"></span></a>
                </th>
                <th>
                    Login Type
                    <a href="javascript:void(0);" class="sortbutton" ng-show="currentOrderProp == 'loginType'" ng-click="orderBy('loginType')">
                        <span ng-show="currentOrderBy == 'desc'" class="fa fa-arrow-down"></span>
                        <span ng-show="currentOrderBy == 'asc'" class="fa fa-arrow-up"></span>
                    </a>
                    <a href="javascript:void(0);" class="sortbutton" ng-show="currentOrderProp != 'loginType'" ng-click="orderBy('loginType')"><span class="fa fa-arrow-down"></span></a>
                </th>
                <th>
                    User Type
                    <a href="javascript:void(0);" class="sortbutton" ng-show="currentOrderProp == 'userType'" ng-click="orderBy('userType')">
                        <span ng-show="currentOrderBy == 'desc'" class="fa fa-arrow-down"></span>
                        <span ng-show="currentOrderBy == 'asc'" class="fa fa-arrow-up"></span>
                    </a>
                    <a href="javascript:void(0);" class="sortbutton" ng-show="currentOrderProp != 'userType'" ng-click="orderBy('userType')"><span class="fa fa-arrow-down"></span></a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="{{user.selected ? 'selected' : ''}}" ng-repeat="user in users" ng-click="selectItem(user)"  ng-right-click="selectItem(user)" ng-dblclick="userDetail(user)" data-context-event="contextmenu" data-context-menu="views/editContextMenu.html?v=1.0.27">
                <td><div class="{{user.props.active ? 'active' : 'pasive'}}"></div></td>
                <td  class="ellipsis" title="{{user.props.name}}">
                    <span class="icc-userobject"></span>
                    {{user.props.name}}
                </td>
                <td class="ellipsis">{{user.firstName}}</td>
                <td class="ellipsis">{{user.lastName}}</td>
                <td class="ellipsis">{{user.email}}</td>
                <td class="ellipsis">{{user.loginType}}</td>
                <td class="ellipsis">{{user.userType}}</td>
            </tr>
        </tbody>
    </table>
</div>




<div class="modal fade" id="deletePopup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title truncate">Are you sure you want to delete {{deleteObject.props.name}}?</h4>
            </div>
            <div class="modal-footer">
                <div class="alert alert-danger text-left" ng-show="notifyError != undefined">
                    <p>{{notifyError}}</p>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
                <button type="button" class="btn btn-primary" ng-click="delete()">YES</button>
            </div>
        </div>
    </div>
</div>